&.top
  position: relative
  // ヘッダー
  header
    position: fixed
    width: 100%
    height: 76px
    background-color: rgba(255, 255, 255, 0.9)
    z-index: 100
    .inner
      display: flex
      justify-content: space-between
      align-items: center
      max-width: 1160px
      height: 76px
      margin: 0 auto
      a
        &:first-of-type
          img
            max-width: 124px
            width: 100%
        &:last-of-type
          img
            max-width: 213px
            width: 100%
  // メインビジュアル
  .main_img
    padding-top: 76px
    img
      width: 100%
  // コンテンツ1
  $innerWidth: 1110
  .contents1
    .inner
      position: relative
      max-width: ($innerWidth + px)
      min-height: 695px
      margin: 0 auto
    h2
      position: relative
      margin-bottom: 44px
      padding-top: 57px
      text-align: center
      z-index: 10
      img
        max-width: 462px
        width: 100%
    .text
      position: relative
      text-align: center
      line-height: (40 / 16)
      z-index: 10
    @for $num from 1 to 6
      .image#{$num}
        position: absolute
        z-index: 1
        @if $num == 1
          top: 36px
        @else if $num == 2
          top: 36px
          right: 0
        @else if $num == 3
          top: 443px
          +positionXCenter
        @else if $num == 4
          top: 404px
          left: (164 / $innerWidth * 100 + %)
        @else if $num == 5
          top: 404px
          right: (164 / $innerWidth * 100 + %)
        img
          @if $num == 1
            width: (510px / 2)
          @else if $num == 2
            width: (484px / 2)
          @else if $num == 3
            width: (424px / 2)
          @else if $num == 4
            width: (300px / 2)
          @else if $num == 5
            width: (338px / 2)
  // 課題
  $btnFlexWidth: 820
  $btnWidth: 400
  .kadai
    padding-bottom: 39px
    background: $colorGreen
    h2
      text-align: center
      img
        max-width: 694px
        width: 100%
        margin-top: -1px
        vertical-align: top
    .text
      color: #fff
      text-align: center
      line-height: (26 / 16)
    .flex
      display: flex
      justify-content: space-between
      max-width: ($btnFlexWidth + px)
      margin: 0 auto
    div[class^="btn"]
      position: relative
      +flexWidth($btnWidth, $btnFlexWidth)
      height: 138px
      background: #fff
      .image
        position: absolute
        bottom: 0
        margin-bottom: 0
      a
        position: absolute
        display: block
        width: 100%
        height: 100%
        padding: 22px 20px 0
    .btn1
      .btn_text
        img
          max-width: 221px
          width: 100%
      .image
        right: 11px
        img
          max-width: (227px / 2)
          width: 100%
    .btn2
      .btn_text
        img
          max-width: 212px
          width: 100%
      .image
        right: 19px
        img
          max-width: (237px / 2)
          width: 100%
    .arrow
      text-align: center
  // タブレットの活用
  $utilizeFlexWidth: 944
  #utilize
    padding-top: 81px
    h2
      margin-bottom: 64px
      text-align: center
      img
        max-width: 731px
        width: 100%
    .flex
      display: flex
      max-width: $utilizeFlexWidth + px
      margin: 0 auto
      .text_box
        +flexWidth(629, $utilizeFlexWidth)
        flex: 0 0 67.5%\0
        max-width: 67.5%\0
        min-height: 244.13px
        width: 100%
        background-size: 100% !important
      .title
        display: flex
        align-items: center
        margin-bottom: 16px
      .mark
        margin-right: 32px
        margin-bottom: 0
        img
          max-width: 44px
          width: 100%
      h3
        margin-bottom: 0
        img
          width: 100%
      .images
        p
          margin-bottom: 0
          img
            width: 100%
      .text
        +fontSize(14)
        line-height: (20 / 14)
      &:first-of-type
        justify-content: flex-end
        .text_box
          margin-right: 15px
          padding: 36px 40px
          background: url(#{$imgPath}balloon_utilize_1.svg) no-repeat
        .mark
          img
            max-width: 44px
        h3
          img
            max-width: 394px
        .images
          +flexWidth((402 / 2), 944)
          p
            img
              max-width: (402px / 2)
        .text
          padding-left: (120px - 40)
      &:last-of-type
        margin-bottom: 50px
        justify-content: flex-start
        .text_box
          margin-top: 24px
          margin-left: -30px
          padding: 36px 40px 36px 60px
          background: url(#{$imgPath}balloon_utilize_2.svg) no-repeat
          order: 2
        .mark
          img
            max-width: 13px
        h3
          img
            max-width: 384px
        .images
          position: relative
          +flexWidth((543 / 2), $utilizeFlexWidth)
          order: 1
          p
            img
              max-width: (543px / 2)
        .text
          padding-left: (120px - 60 - 15)
  // 活用例1
  .application_sample1
    #parallax1
      background: url(#{$imgPath}title_application_sample1_bg.jpg) 50% 0 no-repeat fixed
      background-size: cover
    h2
      height: 319px
      margin-bottom: 0
      padding-top: 100px
      text-align: center
      background: url(#{$imgPath}title_application_sample_bg.png) no-repeat center bottom
      background-size: 14000px 319px
      img
        max-width: 570px
        width: 100%
    .flex
      display: flex
      justify-content: space-between
      align-items: center
      max-width: 834px
      margin: 20px auto 32px
      p
        &:first-of-type
          img
            max-width: 478px
            width: 100%
        &:last-of-type
          img
            max-width: (688px / 2)
            width: 100%
    .contents
      position: relative
      padding: 34px 0 86px
      background: url(#{$imgPath}contents_dot_bg.svg)
      .arrow
        position: absolute
        top: -34px
        +positionXCenter
      .inner
        max-width: 950px
        margin: auto
        padding: 60px 0 0
        background: #fff
        border-radius: 30px
        h3
          margin-bottom: 44px
          text-align: center
          img
            max-width: 675px
            width: 100%
        .image
          margin-bottom: 49px
          text-align: center
          img
            max-width: (1354px / 2)
            width: 100%
        .bottom_text
          padding: 30px ((950px - 794px) / 2) 20px
          color: #fff
          background: $colorGreen
          border-bottom-right-radius: 30px
          border-bottom-left-radius: 30px
          line-height: (30 / 16)
  // 活用例2
  .application_sample2
    #parallax2
      background: url(#{$imgPath}title_application_sample2_bg.jpg) 50% 0 no-repeat fixed
      background-size: cover
    h2
      height: 319px
      padding-top: 100px
      margin-bottom: 0
      text-align: center
      background: url(#{$imgPath}title_application_sample_bg.png) no-repeat center bottom
      background-size: 14000px 319px
      img
        max-width: 690px
        width: 100%
    .flex
      display: flex
      justify-content: space-between
      align-items: center
      max-width: 906px
      margin: 20px auto 32px
      p
        &:first-of-type
          img
            max-width: 479px
            width: 100%
        &:last-of-type
          img
            max-width: (788px / 2)
            width: 100%
    .contents
      position: relative
      padding: 34px 0 86px
      background: url(#{$imgPath}contents_dot_bg.svg)
      .arrow
        position: absolute
        top: -34px
        +positionXCenter
      .inner
        max-width: 950px
        margin: auto
        padding: 60px 0 0
        background: #fff
        border-radius: 30px
        h3
          margin-bottom: 44px
          text-align: center
          img
            max-width: 655px
            width: 100%
        .image
          margin-bottom: 49px
          text-align: center
          img
            max-width: (1356px / 2)
            width: 100%
        .bottom_text
          padding: 30px ((950px - 794px) / 2) 20px
          color: #fff
          background: $colorGreen
          border-bottom-right-radius: 30px
          border-bottom-left-radius: 30px
          line-height: (30 / 16)
  // 活用例3
  .application_sample3
    #parallax3
      background: url(#{$imgPath}title_application_sample3_bg.jpg) 50% 0 no-repeat fixed
      background-size: cover
    h2
      height: 319px
      padding-top: 100px
      margin-bottom: 0
      text-align: center
      background: url(#{$imgPath}title_application_sample_bg.png) no-repeat center bottom
      background-size: 14000px 319px
      img
        max-width: 720px
        width: 100%
    .flex
      display: flex
      justify-content: space-between
      align-items: center
      max-width: 906px
      margin: 20px auto 32px
      p
        &:first-of-type
          img
            max-width: 508px
            width: 100%
        &:last-of-type
          img
            max-width: (708px / 2)
            width: 100%
    .contents
      position: relative
      padding: 34px 0 86px
      background: url(#{$imgPath}contents_dot_bg.svg)
      .arrow
        position: absolute
        top: -34px
        +positionXCenter
      .inner
        max-width: 950px
        margin: auto
        padding: 60px 0 0
        background: #fff
        border-radius: 30px
        h3
          margin-bottom: 44px
          text-align: center
          img
            max-width: 555px
            width: 100%
        .image
          margin-bottom: 49px
          text-align: center
          img
            max-width: (1368px / 2)
            width: 100%
        .bottom_text
          display: flex
          justify-content: space-between
          padding: 30px 43px 20px
          color: #fff
          background: $colorGreen
          border-bottom-right-radius: 30px
          border-bottom-left-radius: 30px
          line-height: (30 / 16)
          p
            &:first-of-type
              +flexWidth(442, 880)
          span
            display: inline-block
            padding-left: 5em
            text-indent: -5em
  // 活用例4
  .application_sample4
    #parallax4
      background: url(#{$imgPath}title_application_sample4_bg.jpg) 50% 0 no-repeat fixed
      background-size: cover
    h2
      height: 319px
      padding-top: 100px
      margin-bottom: 0
      text-align: center
      background: url(#{$imgPath}title_application_sample_bg.png) no-repeat center bottom
      background-size: 14000px 319px
      img
        max-width: 730px
        width: 100%
    .first_contents
      .flex
        display: flex
        justify-content: space-between
        align-items: center
        max-width: 940px
        margin: 20px auto 32px
        p
          &:first-of-type
            img
              max-width: 558px
              width: 100%
          &:last-of-type
            img
              max-width: (696px / 2)
              width: 100%
    h3.sub_title
      margin-bottom: 24px
      padding-top: 82px
      text-align: center
      img
        max-width: 500px
        width: 100%
    .contents
      position: relative
      padding: 34px 0 86px
      background: url(#{$imgPath}contents_dot_bg.svg)
      .arrow
        position: absolute
        top: -34px
        +positionXCenter
      .inner
        max-width: 950px
        margin: auto
        padding: 60px 0 0
        background: #fff
        border-radius: 30px
        h3
          margin-bottom: 44px
          text-align: center
          img
            max-width: 735px
            width: 100%
        .image
          margin-bottom: 49px
          text-align: center
          img
            max-width: (1282px / 2)
            width: 100%
        .bottom_text
          padding: 30px ((950px - 794px) / 2) 20px
          color: #fff
          background: $colorGreen
          border-bottom-right-radius: 30px
          border-bottom-left-radius: 30px
          line-height: (30 / 16)
    .second_contents
      .flex
        display: flex
        margin: 0 auto
        .text_box
          min-height: 244.13px
          background-size: 100% !important
        .title
          display: flex
          align-items: center
          margin-bottom: 16px
        .mark
          margin-right: 32px
          margin-bottom: 0
          img
            max-width: 44px
            width: 100%
        h3
          margin-bottom: 0
          img
            width: 100%
        .images
          p
            margin-bottom: 0
            img
              width: 100%
        .text
          +fontSize(14)
          line-height: (20 / 14)
        &:first-of-type
          justify-content: flex-end
          max-width: 960 - 32 * 2 + px
          .text_box
            +flexWidth(629, (960 - 32 * 2))
            flex: 0 0 71%\0
            max-width: 71%\0
            min-height: 250px\0
            margin-top: 52px
            margin-right: -14px
            padding: 36px 40px
            background: url(#{$imgPath}balloon_application_sample4_1.svg) no-repeat
          .mark
            img
              max-width: 44px
          h3
            img
              max-width: 386px
          .images
            position: relative
            +flexWidth((435 / 2), (960 - 32 * 2))
            p
              img
                max-width: (402px / 2)
          .text
            padding-left: (120px - 40)
        &:last-of-type
          max-width: 960 - 4 * 2 + px
          margin-bottom: 50px
          .text_box
            +flexWidth(629, (960 - 4 * 2))
            flex: 0 0 67%\0
            max-width: 67%\0
            margin-top: 24px
            margin-left: -30px
            padding: 36px 40px 36px 60px
            background: url(#{$imgPath}balloon_application_sample4_2.svg) no-repeat
            order: 2
          .mark
            img
              max-width: 13px
          h3
            img
              max-width: 474px
          .images
            order: 1
            position: relative
            +flexWidth((519 / 2), (960 - 4 * 2))
            p
              img
                max-width: (543px / 2)
          .text
            padding-left: (120px - 60 - 15)
  // 導入準備
  .introduction_preparation
    #parallax5
      background: url(#{$imgPath}introduction_preparation_bg.jpg) 50% 0 no-repeat fixed
      background-size: cover
    h2
      height: 297px
      margin-bottom: 0
      padding-top: 100px
      text-align: center
      img
        max-width: 620px
        width: 100%
    .contents
      background: #f4f4f4
      .inner
        max-width: 960px
        margin: 0 auto
        padding-top: 64px
        padding-bottom: 14px
        .flow
          min-height: 1826px
          margin-bottom: 44px
          background:
            image: url(#{$imgPath}branch_flow_right.svg), url(#{$imgPath}branch_flow_left.svg), url(#{$imgPath}branch_flow_right.svg), url(#{$imgPath}branch_flow_left.svg), url(#{$imgPath}branch_flow_right.svg), url(#{$imgPath}branch_flow_left.svg), url(#{$imgPath}flow_bg_1.svg)
            repeat: no-repeat, no-repeat, no-repeat, no-repeat, no-repeat, no-repeat, no-repeat
            position: calc(50% + 42px) 1380px, calc(50% - 42px) 1260px, calc(50% + 42px) 936px, calc(50% - 42px) 660px, calc(50% + 42px) 380px, calc(50% - 42px) 160px, top center
          .flex
            display: flex
            justify-content: space-between
            align-items: flex-start
            flex-wrap: wrap
          .contents
            +flexWidth(400, 960)
            background: #fff
            border-radius: 20px
            h3
              margin-bottom: 21px
              padding: 25px 24px 0
              img
                width: 100%
            .images
              margin-bottom: 24px
              img
                max-width: 400px
                width: 100%
            h4
              padding: 0 30px
              margin-bottom: 24px
              img
                width: 100%
            h5
              padding: 0 30px
              +fontSize(18)
            .bottom_text
              padding: 0 30px 24px
              +fontSize(14)
              line-height: (20 / 14)
        @for $num from 1 to 7
          .flow_contents#{$num}
            @if $num == 1
              margin-bottom: 36px
            @else if $num == 2
              margin-top: 50px
              margin-bottom: 36px
            @else if $num == 3
              margin-top: -50px
            @else if $num == 5
              margin-top: -13px
            @else if $num == 6
              margin-top: 36px
            h3
              img
                @if $num == 1 or $num == 2
                  max-width: 184px
                @else if $num == 3
                  max-width: 208px
                @else if $num == 4
                  max-width: 310px
                @else if $num == 5
                  max-width: 275px
                @else if $num == 6
                  max-width: 264px
            h4
              @if $num == 2
                margin-bottom: 60px !important
              img
                @if $num == 1
                  max-width: 210px
                @else if $num == 2
                  max-width: 261px
                @else if $num == 3
                  max-width: 220px
                @else if $num == 4
                  max-width: 188px
                @else if $num == 5
                  max-width: 260px
                @else if $num == 6
                  max-width: 253px
        .bottom_contents
          display: flex
          max-width: 700px
          margin: 45px auto 0
          background-color: #fff
          border-radius: 20px
          .images
            +flexWidth(300, 700)
            margin-bottom: 0
            img
              max-width: 300px
              width: 100%
          .right_contents
            +flexWidth(400, 700)
            margin-top: 24px
            padding-right: 34px
            padding-left: 34px
            h3
              margin-bottom: 33px
              img
                max-width: 264px
                width: 100%
            h4
              margin-bottom: 22px
              img
                max-width: 188px
                width: 100%
            h5
              +fontSize(18)
            .bottom_text
              +fontSize(14)
              line-height: (20 / 14)
        .notice
          margin-bottom: 0
          text-align: right
          +fontSize(12)
  // 導入事例
  .case_study
    h2
      margin: 96px auto 84px
      text-align: center
    .box
      width: 100%
      max-width: 641px
      min-height: 176.2px
      margin: 0 auto 24px
      padding: 40px 20px 46px
      background: url(#{$imgPath}balloon_case_study.svg) no-repeat
      background-size: 100%
      color: #005103
      text-align: center
      h3
        +fontSize(24)
    .video
      max-width: 692px
      margin: 0 auto
      .inner
        position: relative
        width: 100%
        height: 0
        padding-bottom: 56.25%
        overflow: hidden
        margin-bottom: 50px
        iframe
          width: 100%
          height: 100%
          position: absolute
          top: 0
          left: 0
  // 問い合わせ
  .contact
    padding-top: 54px
    padding-bottom: 56px
    background: $colorGreen
    .inner
      display: flex
      justify-content: space-between
      align-items: center
      max-width: 720px
      margin: 0 auto
    .image
      margin-bottom: 0
      img
        max-width: (306px / 2)
        width: 100%
    .text
      color: #fff
      +fontSize(20)
      line-height: (40 / 20)
    .btn_contact
      margin-bottom: 0
      img
        max-width: 514px
        width: 100%
  // フッター
  .footer
    .nav
      background: #e5e5e5
    .inner
      max-width: 960px
      margin: 0 auto
      padding: 28px 0 20px
      +fontSize(14)
      ul
        list-style: none
        padding-left: 0
        line-height: (20 / 14)
        li
          display: inline-block
          a
            color: #595656
          &:first-child
            &:after
              content: '｜'
              display: inline-block
              margin-left: 7px
      p
        margin-bottom: 0
        color: #595656
        line-height: (24 / 14)
    .copyright
      margin-bottom: 0
      padding: 36px 0
      color: #595656
      text-align: center
      +fontSize(12)
  // ページトップ
  .pagetop
    position: fixed
    width: 100%
    height: 69px
    bottom: 110px
    z-index: 100
    pointer-events: none
    .inner
      max-width: 1200px
      margin: 0 auto
      text-align: right
      a
        display: inline-block
        width: 69px
        height: 69px
        pointer-events: auto


  // スマートフォン
  @media screen and (max-width: ($viewportWidth1 + px))
    header
      height: 45px
      .inner
        height: 45px
        a
          &:first-of-type
            margin-left: 10px
            img
              max-width: (158px / 2)
          &:last-of-type
            img
              max-width: (240px / 2)
    // メインビジュアル
    .main_img
      padding-top: 45px
    // コンテンツ1
    .contents1
      .inner
        overflow-x: hidden
        min-height: (1134 / 2 + px)
        min-height: ((1134 / 2) / $viewportSpBaseWidth * 100 + vw)
        h2
          +marginVw((44 / 2), "bottom")
          +paddingVw((58 / 2), "top")
          img
            +vwWidth((501 / 2))
            max-width: initial
      .text
        +paddingVw((35 / 2), "right")
        +paddingVw((35 / 2), "left")
        +fontSizeVw((24 / 2))
        line-height: (46 / 24)
        font-feature-settings: "palt" 1
      @for $num from 1 to 6
        .image#{$num}
          @if $num == 1
            +positionVw((600 / 2), "top")
            left: (-32 / 2 + px)
          @else if $num == 2
            +positionVw((588 / 2), "top")
            right: (-33 / 2 + px)
          @else if $num == 3
            +positionVw((692 / 2), "top")
          @else if $num == 4
            +positionVw((890 / 2), "top")
            +positionVw((142 / 2), "left")
          @else if $num == 5
            +positionVw((914 / 2), "top")
            +positionVw((142 / 2), "right")
          img
            @if $num == 1
              width: (256px / 2)
            @else if $num == 2
              width: (242px / 2)
            @else if $num == 3
              width: (212px / 2)
            @else if $num == 4
              width: (150px / 2)
            @else if $num == 5
              width: (169px / 2)
    // 課題
    .kadai
      +paddingVw((51 / 2), "bottom")
      .text
        +fontSizeVw((24 / 2))
        line-height: (36 / 24)
        font-feature-settings: "palt" 1
      .flex
        flex-wrap: wrap
        +marginVw((46 / 2), "right")
        +marginVw((46 / 2), "left")
        div[class^="btn"]
          +flexWidth(100%)
          height: (190 / 2 + px)
          p
            margin-bottom: 0
        .btn1
          +marginVw((29 / 2), "bottom")
          .btn_text
            img
              max-width: (304 / 2 + px)
          .image
            img
              max-width: (158 / 2 + px)
        .btn2
          .btn_text
            img
              max-width: (293 / 2 + px)
          .image
            img
              max-width: (164 / 2 + px)
    // タブレットの活用
    #utilize
      +paddingVw((71 / 2), "top")
      h2
        +marginVw((70 / 2), "bottom")
        img
          +vwWidth((451 / 2))
          max-width: initial
      .flex
        flex-wrap: wrap
        +marginVw((30 / 2), "right")
        +marginVw((30 / 2), "left")
        .text_box
          +flexWidth(100%)
          min-height: ((387.31 / 2) / $viewportSpBaseWidth * 100 + vw)
          padding-bottom: 10px
        .text
          +fontSizeVw((24 / 2))
          line-height: (36 / 24)
          font-feature-settings: "palt" 1
        &:first-of-type
          .text_box
            margin-right: 0
            +paddingVw((36 / 2), "top")
            +paddingVw((22 / 2), "right")
            +paddingVw((22 / 2), "left")
            background-image: url(#{$imgPath}balloon_utilize_1_sp.svg)
          .title
            +marginVw((22 / 2), "bottom")
          .mark
            +flexWidth((45 / 2), 268)
            margin-right: 1%
            img
              +vwWidth((45 / 2))
              max-width: initial
          h3
            +flexWidth((472 / 2), 268)
            img
              +vwWidth((472 / 2))
              max-width: initial
          .images
            +flexWidth(100%)
            +marginVw(-40, "top")
            +paddingVw((344 / 2), "left")
            img
              +vwWidth((201 / 2))
          .text
            +paddingVw((62 / 2), "left")
        &:last-of-type
          +marginVw((80 / 2), "bottom")
          .text_box
            +marginVw(-15, "top")
            +paddingVw((66 / 2), "top")
            +paddingVw((36 / 2), "right")
            padding-bottom: 0
            +paddingVw((40 / 2), "left")
            min-height: ((387 / 2) / $viewportSpBaseWidth * 100 + vw)
            margin-left: 0
            background-image: url(#{$imgPath}balloon_utilize_2_sp.svg)
          .images
            +flexWidth(100%)
            +marginVw(-110, "top")
            img
              +vwWidth((272 /2))
    // 活用例1
    .application_sample1
      #parallax1
        background: url(#{$imgPath}title_application_sample1_bg_sp.jpg) 50% 0 no-repeat fixed
        background-size: cover
      h2
        height: (318px / 2)
        padding-top: (80px / 2)
        img
          max-width: (570px / 2)
      .flex
        flex-wrap: wrap
        justify-content: center
        +paddingVw((40 / 2), "right")
        +paddingVw((40 / 2), "left")
      .contents
        +paddingVw((35 / 2), "top")
        +paddingVw((39 / 2), "bottom")
        .inner
          +marginVw((29 / 2), "right")
          +marginVw((29 / 2), "left")
          +paddingVw((60 / 2), "top")
          border-radius: (30px / 2)
          h3
            +marginVw((50 / 2), "bottom")
            +paddingVw((63 / 2), "right")
            +paddingVw((63 / 2), "left")
          .image
            +marginVw((45 / 2), "bottom")
            +paddingVw((31 / 2), "right")
            +paddingVw((35 / 2), "left")
          .bottom_text
            margin-bottom: 0
            +paddingVw((30 / 2), "top")
            +paddingVw((22 / 2), "right")
            +paddingVw((20 / 2), "bottom")
            +paddingVw((22 / 2), "left")
            +fontSizeVw((24 / 2))
            line-height: (36 / 24)
            border-bottom-right-radius: (30px / 2)
            border-bottom-left-radius: (30px / 2)
            font-feature-settings: "palt" 1
    // 活用例2
    .application_sample2
      #parallax2
        background: url(#{$imgPath}title_application_sample2_bg_sp.jpg) 50% 0 no-repeat fixed
        background-size: cover
      h2
        height: (318px / 2)
        padding-top: (80px / 2)
        img
          max-width: (570px / 2)
      .flex
        flex-wrap: wrap
        justify-content: center
        +paddingVw((40 / 2), "right")
        +paddingVw((40 / 2), "left")
      .contents
        +paddingVw((35 / 2), "top")
        +paddingVw((39 / 2), "bottom")
        .inner
          +marginVw((29 / 2), "right")
          +marginVw((29 / 2), "left")
          +paddingVw((60 / 2), "top")
          border-radius: (30px / 2)
          h3
            +marginVw((50 / 2), "bottom")
            +paddingVw((63 / 2), "right")
            +paddingVw((63 / 2), "left")
          .image
            +marginVw((45 / 2), "bottom")
            +paddingVw((31 / 2), "right")
            +paddingVw((35 / 2), "left")
          .bottom_text
            margin-bottom: 0
            +paddingVw((30 / 2), "top")
            +paddingVw((22 / 2), "right")
            +paddingVw((20 / 2), "bottom")
            +paddingVw((22 / 2), "left")
            +fontSizeVw((24 / 2))
            line-height: (36 / 24)
            border-bottom-right-radius: (30px / 2)
            border-bottom-left-radius: (30px / 2)
            font-feature-settings: "palt" 1
    // 活用例3
    .application_sample3
      #parallax3
        background: url(#{$imgPath}title_application_sample3_bg_sp.jpg) 50% 0 no-repeat fixed
        background-size: cover
      h2
        height: (318px / 2)
        padding-top: (80px / 2)
        img
          max-width: (570px / 2)
      .flex
        flex-wrap: wrap
        justify-content: center
        +paddingVw((40 / 2), "right")
        +paddingVw((40 / 2), "left")
      .contents
        +paddingVw((35 / 2), "top")
        +paddingVw((39 / 2), "bottom")
        .inner
          +marginVw((29 / 2), "right")
          +marginVw((29 / 2), "left")
          +paddingVw((60 / 2), "top")
          border-radius: (30px / 2)
          h3
            +marginVw((50 / 2), "bottom")
            +paddingVw((63 / 2), "right")
            +paddingVw((63 / 2), "left")
          .image
            +marginVw((45 / 2), "bottom")
            +paddingVw((31 / 2), "right")
            +paddingVw((35 / 2), "left")
          .bottom_text
            flex-wrap: wrap
            margin-bottom: 0
            +paddingVw((30 / 2), "top")
            +paddingVw((22 / 2), "right")
            +paddingVw((20 / 2), "bottom")
            +paddingVw((22 / 2), "left")
            +fontSizeVw((24 / 2))
            line-height: (36 / 24)
            border-bottom-right-radius: (30px / 2)
            border-bottom-left-radius: (30px / 2)
            font-feature-settings: "palt" 1
            p, p:first-of-type
              +flexWidth(100%)
    // 活用例4
    .application_sample4
      #parallax4
        background: url(#{$imgPath}title_application_sample4_bg_sp.jpg) 50% 0 no-repeat fixed
        background-size: cover
      h2
        height: (318px / 2)
        padding-top: (80px / 2)
        img
          max-width: (570px / 2)
      .first_contents
        .flex
          flex-wrap: wrap
          justify-content: center
          +paddingVw((40 / 2), "right")
          +paddingVw((40 / 2), "left")
      h3.sub_title
        +paddingVw((71 / 2), "top")
        +paddingVw((74 / 2), "right")
        +paddingVw((74 / 2), "left")
      .contents
        +paddingVw((35 / 2), "top")
        +paddingVw((39 / 2), "bottom")
        .inner
          +marginVw((29 / 2), "right")
          +marginVw((29 / 2), "left")
          +paddingVw((60 / 2), "top")
          border-radius: (30px / 2)
          h3
            +marginVw((50 / 2), "bottom")
            +paddingVw((63 / 2), "right")
            +paddingVw((63 / 2), "left")
          .image
            +marginVw((45 / 2), "bottom")
            +paddingVw((31 / 2), "right")
            +paddingVw((35 / 2), "left")
          .bottom_text
            margin-bottom: 0
            +paddingVw((30 / 2), "top")
            +paddingVw((22 / 2), "right")
            +paddingVw((20 / 2), "bottom")
            +paddingVw((22 / 2), "left")
            +fontSizeVw((24 / 2))
            line-height: (36 / 24)
            border-bottom-right-radius: (30px / 2)
            border-bottom-left-radius: (30px / 2)
            font-feature-settings: "palt" 1
      .second_contents
        .flex
          flex-wrap: wrap
          +marginVw((30 / 2), "right")
          +marginVw((30 / 2), "left")
          .text_box
            min-height: ((387.31 / 2) / $viewportSpBaseWidth * 100 + vw)
            padding-bottom: 10px
          .text
            +fontSizeVw((24 / 2))
            line-height: (36 / 24)
            font-feature-settings: "palt" 1
          &:first-of-type
            .text_box
              +flexWidth(100%)
              margin-top: 0
              margin-right: 0
              +paddingVw((36 / 2), "top")
              +paddingVw((22 / 2), "right")
              +paddingVw((22 / 2), "left")
              background-image: url(#{$imgPath}balloon_utilize_1_sp.svg)
            .title
              +marginVw((22 / 2), "bottom")
            .mark
              +flexWidth((45 / 2), 268)
              margin-right: 1%
              img
                +vwWidth((45 / 2))
                max-width: initial
            h3
              +flexWidth((472 / 2), 268)
              img
                +vwWidth((472 / 2))
                max-width: initial
            .images
              +flexWidth(100%)
              +marginVw(-40, "top")
              +paddingVw((344 / 2), "left")
              img
                +vwWidth((201 / 2))
            .text
              +paddingVw((62 / 2), "left")
          &:last-of-type
            +marginVw((80 / 2), "bottom")
            .text_box
              +flexWidth(100%)
              +marginVw(-15, "top")
              +paddingVw((66 / 2), "top")
              +paddingVw((36 / 2), "right")
              padding-bottom: 0
              +paddingVw((40 / 2), "left")
              min-height: ((387 / 2) / $viewportSpBaseWidth * 100 + vw)
              margin-left: 0
              background-image: url(#{$imgPath}balloon_utilize_2_sp.svg)
            .images
              +flexWidth(100%)
              +marginVw(-110, "top")
              img
                +vwWidth((272 /2))
    // 導入準備
    .introduction_preparation
      #parallax5
        background: url(#{$imgPath}introduction_preparation_bg_sp.jpg) 50% 0 no-repeat fixed
        background-size: cover
      h2
        height: (318px / 2)
        padding-top: (80px / 2)
        background: url(#{$imgPath}title_introduction_preparation_bg_sp.png) no-repeat center bottom
        background-size: 640px 20px
        img
          max-width: (570px / 2)
      .contents
        .inner
          +paddingVw((40 / 2), "top")
          .flow
            background:
              image: url(#{$imgPath}branch_flow_2_sp.svg), url(#{$imgPath}branch_flow_1_sp.svg), url(#{$imgPath}branch_flow_1_sp.svg), url(#{$imgPath}branch_flow_1_sp.svg), url(#{$imgPath}branch_flow_1_sp.svg), url(#{$imgPath}branch_flow_1_sp.svg), url(#{$imgPath}branch_flow_1_sp.svg), url(#{$imgPath}flow_bg_1_sp.svg)
              repeat: no-repeat, no-repeat, no-repeat, no-repeat, no-repeat, no-repeat, no-repeat
              position: ((38 / 2) / $viewportSpBaseWidth * 100 + vw) ((3806 / 2) / $viewportSpBaseWidth * 100 + vw), ((52 / 2) / $viewportSpBaseWidth * 100 + vw) ((3232 / 2) / $viewportSpBaseWidth * 100 + vw), ((52 / 2) / $viewportSpBaseWidth * 100 + vw) ((2640 / 2) / $viewportSpBaseWidth * 100 + vw), ((52 / 2) / $viewportSpBaseWidth * 100 + vw) ((2048 / 2) / $viewportSpBaseWidth * 100 + vw), ((52 / 2) / $viewportSpBaseWidth * 100 + vw) ((1458 / 2) / $viewportSpBaseWidth * 100 + vw), ((52 / 2) / $viewportSpBaseWidth * 100 + vw) ((868 / 2) / $viewportSpBaseWidth * 100 + vw), ((52 / 2) / $viewportSpBaseWidth * 100 + vw) ((278 / 2) / $viewportSpBaseWidth * 100 + vw), ((30 / 2) / $viewportSpBaseWidth * 100 + vw) top
              size: ((107 / 2) / $viewportSpBaseWidth * 100 + vw) auto, ((94 / 2) / $viewportSpBaseWidth * 100 + vw) auto, ((94 / 2) / $viewportSpBaseWidth * 100 + vw) auto, ((94 / 2) / $viewportSpBaseWidth * 100 + vw) auto, ((94 / 2) / $viewportSpBaseWidth * 100 + vw) auto, ((94 / 2) / $viewportSpBaseWidth * 100 + vw) auto, ((94 / 2) / $viewportSpBaseWidth * 100 + vw) auto, ((60 / 2) / $viewportSpBaseWidth * 100 + vw) auto
            .flex
              justify-content: flex-end
              +paddingVw((60 / 2), "right")
              +paddingVw((60 / 2), "left")
            .contents
              +flexWidth(490, 580)
              border-radius: (20px / 2)
              h3
                +marginVw((19 / 2), "bottom")
                +paddingVw((23 / 2), "top")
                +paddingVw((24 / 2), "right")
                +paddingVw((24 / 2), "left")
                img
                  max-width: initial
              .images
                +marginVw((30 / 2), "bottom")
                img
                  max-width: initial
              h4
                +paddingVw((26 / 2), "right")
                +paddingVw((26 / 2), "left")
                +marginVw((36 / 2), "bottom")
                img
                  max-width: initial
              h5
                +paddingVw((28 / 2), "right")
                +paddingVw((28 / 2), "left")
                +fontSizeVw((24 / 2))
                font-feature-settings: "palt" 1
              .bottom_text
                margin-bottom: 0
                +paddingVw((28 / 2), "right")
                +paddingVw((18 / 2), "bottom")
                +paddingVw((28 / 2), "left")
                +fontSizeVw((24 / 2))
                line-height: (36 / 24)
                font-feature-settings: "palt" 1
            @for $num from 1 to 8
              .flow_contents#{$num}
                @if $num == 1 or $num == 4
                  +marginVw((20 / 2), "bottom")
                @else if $num == 2 or $num == 3 or $num == 5 or $num == 6
                  margin-top: 0
                  +marginVw((20 / 2), "bottom")
                h3
                  img
                    @if $num == 1
                      +vwWidth((223 / 2))
                    @else if $num == 2
                      +vwWidth((224 / 2))
                    @else if $num == 3
                      +vwWidth((254 / 2))
                    @else if $num == 4
                      +vwWidth((378 / 2))
                    @else if $num == 5
                      +vwWidth((334 / 2))
                    @else if $num == 6
                      +vwWidth((324 / 2))
                    @else if $num == 7
                      +vwWidth((322 / 2))
                h4
                  @if $num == 2
                    +marginVw((74 / 2), "bottom", true)
                  img
                    @if $num == 1
                      +vwWidth((262 / 2))
                    @else if $num == 2
                      +vwWidth((327 / 2))
                    @else if $num == 3
                      +vwWidth((274 / 2))
                    @else if $num == 4
                      +vwWidth((235 / 2))
                    @else if $num == 5
                      +vwWidth((324 / 2))
                    @else if $num == 6
                      +vwWidth((316 / 2))
                    @else if $num == 7
                      +vwWidth((235 / 2))
          .notice
            +paddingVw((30 / 2), "right")
            +paddingVw((30 / 2), "left")
            +fontSizeVw((18 / 2))
    // 導入事例
    .case_study
      h2
        +marginVw((82 / 2), "top")
        +marginVw((81 / 2), "bottom")
        img
          +vwWidth((216 / 2))
      .box
        min-height: 210px
        min-height: (210 / $viewportSpBaseWidth * 100 + vw)
        margin-bottom: 0
        +paddingVw((30 / 2), "top")
        +paddingVw((29 / 2), "right")
        padding-bottom: 0
        +paddingVw((29 / 2), "left")
        background:
          image: url(#{$imgPath}balloon_case_study_sp.svg)
          size: percentage((640 - 29 * 2) / 640) auto
          position: center top
        h3
          +marginVw((16 / 2), "bottom")
          +fontSizeVw((32 / 2))
        p
          +fontSizeVw((24 / 2))
          line-height: (36 / 24)
      .video
        .inner
          +marginVw(-100, "top")
          +marginVw((80 / 2), "bottom")
    // 問い合わせ
    .contact
      +paddingVw((48 / 2), "top")
      +paddingVw((48 / 2), "bottom")
      .inner
        +paddingVw((29 / 2), "right")
        +paddingVw((27 / 2), "left")
      .image
        +marginVw((20 / 2), "right")
      .text
        +fontSizeVw((24 / 2))
    // フッター
    .footer
      .inner
        +paddingVw((50 / 2), "top")
        +paddingVw((30 / 2), "right")
        +paddingVw((34 / 2), "bottom")
        +paddingVw((30 / 2), "left")
        +fontSizeVw((24 / 2))
        ul
          +marginVw((106 / 2), "bottom")
          li
            display: block
            &:first-child
              +marginVw((18 / 2), "bottom")
              &:after
                content: none
        p
          line-height: (36 / 24)
      .copyright
        +paddingVw((32 / 2), "top")
        +paddingVw((30 / 2), "bottom")
        +fontSizeVw((18 / 2))
    // ページトップ
    .pagetop
      height: (92px / 2)
      bottom: (296px / 2)
      .inner
        +paddingVw((29 / 2), "right")
        a
          width: (92px / 2)
          height: (92px / 2)
          img
            width: (92px / 2)
