body
  +fontFace;

a
  &:hover
    img
      opacity: .7

.pc
  display: block
img
  &.pc
    display: inline-block
.sp
  display: none
// スマートフォン
@media screen and (max-width: ($viewportWidth1 + px))
  a
    &:hover
      img
        opacity: 1
  .pc
    display: none !important
  .sp
    display: block
  img
    &.sp
      display: inline-block