$viewportWidth1: 640
$imgPath: "../images/"
$viewportSpBaseWidth: 320

// color
$colorGreen: #009055

// font
$baseFontSize: 16
=fontFace
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", "HelveticaNeue", "Helvetica Neue", Arial,sans-serif

=fontSize($size)
  font-size: $size + px
  font-size: ($size / $baseFontSize + rem)

=fontSizeVw($size)
  font-size: #{$size}px
  font-size: ($size / $viewportSpBaseWidth * 100 + vw)

=marginVw($size, $position, $important: false)
  @if $important == true
    $important: " !important"
  @else
    $important: ""
  margin-#{$position}: #{$size}px#{$important}
  margin-#{$position}: ($size / $viewportSpBaseWidth * 100 + vw)#{$important}

=paddingVw($size, $position, $important: false)
  @if $important == true
    $important: " !important"
  @else
    $important: ""
  padding-#{$position}: #{$size}px#{$important}
  padding-#{$position}: ($size / $viewportSpBaseWidth * 100 + vw)#{$important}

// position
=positionXCenter
  left: 50%
  transform: translateX(-50%)

=positionVw($size, $position, $important: false)
  @if $important == true
    $important: " !important"
  @else
    $important: ""
  #{$position}: #{$size}px#{$important}
  #{$position}: ($size / $viewportSpBaseWidth * 100 + vw)#{$important}

// width
=flexWidth($size, $baseSize: null)
  // 指定した数値が単位を持っているかどうか判定し、単位がなければtrueが返るので%で出力。
  @if unitless($size)
    @if $baseSize
      flex: 0 0 percentage($size / $baseSize)
      max-width: percentage($size / $baseSize)
    @else
      flex: 0 0 percentage($size / 100)
      max-width: percentage($size / 100)
  // 単位があればそのまま出力
  @else
    @if $baseSize
      flex: 0 0 $size
      max-width: $size
    @else
      flex: 0 0 $size
      max-width: $size

=vwWidth($size)
  width: $size + px
  width: $size / $viewportSpBaseWidth * 100 + vw