@charset "UTF-8";
/* CSS Document */
/*-----------------------------------------------------------
reset
-------------------------------------------------------------*/
body, h1, h2, h3, h4, h5, h6, pre, ul, ol, li, dl, dt, dd, p, img {
  margin: 0;
  padding: 0; }

ul, ol {
  list-style-type: none; }

/*-----------------------------------------------------------
tools
-------------------------------------------------------------*/
a {
  color: #003366;
  text-decoration: none;
  outline: 0; }

a:hover {
  color: #0ca391;
  text-decoration: none; }

a img:hover {
  opacity: 0.7; }

img {
	border: 0;
}

/*-----------------------------------------------------------
layout
-------------------------------------------------------------*/
html {
  height: 100%;
  font-size: 62.5%;
  /* sets the base font to 10px for easier math */ }

body {
  min-width: 1160px;
  margin: 0;
  padding: 0;
  font-family: "ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,Osaka,"ＭＳ Ｐゴシック","MS PGothic","HelveticaNeue","Helvetica Neue",Arial,sans-serif;
  font-size: 16px;
  font-size: 1.6rem;
  /* sets the default sizing to make sure nothing is actually 10px */
  -webkit-text-size-adjust: 100%;
  background-color: #FFFFFF; }

#wrap {
	min-width: 1160px;
	overflow: hidden;
}

/* --------------------------- */
/* Header */
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 80px;
  padding: 16px 0;
  background-color: rgba(255,255,255,0.9);
  box-sizing: border-box;
  z-index: 50;
  overflow-x: auto;
  overflow-y: hidden;
}
header .inner {
	overflow: hidden;
	width: 1160px;
	margin: 0 auto;
}
header .inner p:first-child {
	float: left;
}
header .inner .right {
	float: right;
	width: 693px;
	white-space: nowrap;
}
header .inner .right p:first-child {
	margin-right: 18px;
}
.hd_contact__fkds {
	position: relative;
    float: left;
    font-size: 12px;
    line-height: 1.4;
    color: #eb5505;
    background-color: #fff;
    text-align: center;
    font-weight: bold;
    border: 1px solid #eb5505;
    padding: 6px 7px;
    border-radius: 8px;
    margin-right: 18px;
}
.hd_contact__fkds:before {
	content: "";
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 8px 16px 8px 0;
	border-color: transparent #eb5505 transparent transparent;
	position: absolute;
	top: 14px;
	left: -16px;
}
.hd_contact__fkds:after {
	content: "";
	width: 0;
    height: 0;
    border-style: solid;
    border-width: 7px 15px 7px 0;
    border-color: transparent #fff transparent transparent;
    position: absolute;
    top: 15px;
    left: -14px;
}

/*--- Header ---*/
/* --------------------------- */
/* Footer */
.footer {
	background-color: #f3f3f3; }

.footer .nav {
	width: 960px;
	margin: 0 auto;
	padding: 30px 0 20px;
	color: #595656; }

.footer .nav ul {
	overflow: hidden;
	margin-top: 50px;
	margin-left: -20px;
	margin-bottom: 40px; }

.footer .nav ul li {
  position: relative;
  float: left;
  margin-left: 20px;
  font-size: 14px;
  color: #595656;
}

.footer .nav ul li a {
  display: block;
  color: #595656;
  text-decoration: underline; }

.footer .nav ul li a:hover {
	text-decoration: none;
}

.footer .nav p {
	font-size: 12px;
	line-height: 1.67em; }

.footer .nav p:first-child {
	font-size: 14px;
}
.footer .nav p:last-child {
	font-size: 14px;
}

.footer .nav span {
  font-size: 14px;
  font-size: 1.4rem; }

.footer .nav ul li::before {
  content: "|";
  position: absolute;
  left: -13px; }

.footer .nav ul li:nth-child(1)::before {
  content: none; }

.footer p.copyright {
  text-align: center;
  padding: 36px 0;
  background-color: #fff;
  color: #595656;
  font-size: 12px;
  line-height: 1em; }

/* ---------------------------------*/
.campaign_details {
	clear: both;
	margin-top: 80px;
	padding-bottom: 222px;
	background-color: #19cce7;
}

.main_img {
	position: relative;
	width: 1160px;
	margin: 0 auto;
	visibility: hidden;
}
.main_img__inner {
	position: absolute;
	width: 1400px;
	height: 100%;
	left: 50%;
	top: 0;
	transform: translateX(-50%);
}
.main_img .main_img_human {
	position: absolute;
	width: 1160px;
	top: 96px;
	left: 50%;
	transform: translateX(-50%);
	z-index: 20;
}
/*
.main_img p:first-of-type {
	position: relative;
	top: 23px;
	width: 685px;
	margin: 0 auto;
	line-height: 0;
	z-index: 30;
}
.main_img h2 {
	position: relative;
	width: 738px;
	margin: 12px auto 0;
	line-height: 0;
	z-index: 30;
}
.main_img .period {
	position: absolute;
	top: 20px;
	right: 0;
	z-index: 40;
}
.main_img p:nth-of-type(3) {
	position: relative;
	width: 960px;
	margin: 155px auto 0;
	z-index: 10;
}
.main_img .coin {
	position: absolute;
	width: 1160px;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	z-index: 20;
}
.main_img .coin div:first-of-type {
	position: absolute;
	left: 0;
}
.main_img .coin div:last-of-type {
	position: absolute;
	right: 0;
}
*/

.good_value {
	width: 960px;
	margin: 0 auto 30px;
	padding: 27px 30px 20px;
	background-color: #fff;
	border-radius: 30px;
	box-sizing: border-box;
	font-size: 12px;
}
.good_value .inner {
	overflow: hidden;
	margin-bottom: 8px;
}
.good_value .inner div:first-child {
	float: left;
	margin-top: 11px;
}
.good_value .inner div:last-child {
	float: right;
	position: relative;
}
.good_value .inner div:last-child p:last-child {
	position: absolute;
	top: 270px;
	left: 27px;
	width: 400px;
	text-align: center;
	font-size: 14px;
	color: #595656;
}
.good_value .notice {
	clear: both;
	margin-bottom: 10px;
	color: #595656;
	font-size: 12px;
	line-height: 1.67;
}
.good_value p:nth-child(5) {
	margin-bottom: 8px;
}
.good_value ul li {
	padding-left: 1em;
	text-indent: -1em;
	font-size: 12px;
	line-height: 1.67;
	color: #595656;
}
.good_value ul li:before {
	content: "※";
}
.good_value ul li a {
	color: #f08300;
	text-decoration: underline;
}
.good_value ul li a:hover {
	text-decoration: none;
}

.about {
	width: 960px;
	margin: 0 auto 30px;
	padding: 27px 30px 34px;
	background-color: #fff;
	border-radius: 30px;
	box-sizing: border-box;
}
.about h2 {
	margin-bottom: 32px;
	padding: 6px;
	text-align: center;
	font-size: 26px;
	color: #172c88;
	border: 2px solid #172c88;
	border-radius: 6px;
}
.about .top_text {
	margin-bottom: 24px;
	color: #172c88;
	text-align: center;
	font-size: 18px;
	line-height: 1.67;
}
.about .good_thing {
	width: 880px;
	margin: 0 auto;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
}
.about .good_thing .contents {
	-webket-flex: 0 0 280px;
	-ms-flex: 0 0 280px;
	flex: 0 0 280px;
	width: 280px;
}
.about .good_thing .contents p:first-child {
	margin-bottom: 8px;
}
.about .good_thing .contents p:nth-child(2) {
	padding-left: 10px;
	color: #595656;
	font-size: 15px;
	line-height: 1.73;
}

.point {
	width: 960px;
	margin: 0 auto;
	padding: 27px 30px 40px;
	background-color: #fff;
	border-radius: 30px;
	box-sizing: border-box;
}
.point h2 {
	margin-bottom: 28px;
}
.point p:nth-child(2) {
	text-align: center;
}

.campaign_contact {
	position: relative;
	width: 960px;
	margin: 0 auto;
	background-color: #fff;
}
.campaign_contact .coin {
	position: absolute;
	top: -143px;
	left: 50%;
	transform: translateX(-50%);
}
.campaign_contact .copy {
	margin-bottom: 60px;
	padding-top: 86px;
	text-align: center;
}
.campaign_contact .contact {
	width: 880px;
	margin: 0 auto 80px;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	background: url(../images/line_1.svg) repeat-y 401px top;
}
.campaign_contact .contact div:first-child {
	-webket-flex: 0 0 363px;
	-ms-flex: 0 0 363px;
	flex: 0 0 363px;
	width: 363px;
	text-align: center;
}
.campaign_contact .contact div:first-child p:nth-child(1) {
	margin-bottom: 10px;
	/* padding-bottom: 10px;
	border-bottom: 1px solid #172c88; */
}
.campaign_contact .contact div:first-child p:nth-child(2) {
	/* width: 300px; */
	position: relative;
    margin: 0 auto;
    /* padding-left: 0.6em; */
    text-indent: 0.6em;
    font-size: 14px;
    line-height: 1.4;
    color: #eb5505;
    text-align: left;
    font-weight: bold;
    border: 1px solid #eb5505;
    padding: 8px 7px;
    border-radius: 8px;
}
.contact__fkds:before {
	content: "";
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 0 20px 16px;
	border-color: transparent transparent #eb5505 transparent;
	position: absolute;
	top: -20px;
	left: 29px;
}
.contact__fkds:after {
	content: "";
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 0 17px 14px;
	border-color: transparent transparent #fff transparent;
	position: absolute;
	top: -17px;
	left: 30px;
}


.campaign_contact .contact div:last-child {
	-webket-flex: 0 0 439px;
	-ms-flex: 0 0 439px;
	flex: 0 0 439px;
	width: 439px;
	text-align: center;
}
.campaign_contact .contact div:last-child p:first-child {
	margin-bottom: 20px;
}

.pagetop {
	position: fixed;
	width: 100%;
	height: 68px;
	margin: 0 auto;
	bottom: 120px;
	z-index: 60;
	pointer-events: none;
}
.pagetop p {
	position: relative;
	width: 1160px;
	margin: 0 auto;
}
.pagetop a {
	position: absolute;
	display: block;
	width: 68px;
	right: 0;
	pointer-events: auto;
}

@media screen and (max-width: 1218px) {
	.pagetop p {
		width: 100%;
	}
}



/* ------------------------------------- */
/* MAIN IMAGES */
.c-media {
	line-height: 0;
}
.c-media__image {
	width: 100%;
}

.main_animation {
	visibility: visible;
}
.main_img:before {
	content: "";
	display: block;
	position: relative;
	width: 100%;
	padding-top: 78.1%;
}

.main_img .m_person1 {
	position: absolute;
	left: 195px;
	top: 115px;
	width: 141px;
	-webkit-animation-delay: 1.4s;
	animation-delay: 1.4s;

	-moz-transform-origin:77px 142px;
	-webkit-transform-origin:77px 142px;
	-o-transform-origin:77px 142px;
	-ms-transform-origin:77px 142px;
}
.main_img .m_person2 {
	position: absolute;
	left: 116px;
	top: 285px;
	width: 216px;
	-webkit-animation-delay: 1.45s;
	animation-delay: 1.45s;

	-moz-transform-origin:112px 208px;
	-webkit-transform-origin:112px 208px;
	-o-transform-origin:112px 208px;
	-ms-transform-origin:112px 208px;
}
.main_img .m_person3 {
	position: absolute;
	left: 287px;
	top: 468px;
	width: 142px;
	-webkit-animation-delay: 1.5s;
	animation-delay: 1.5s;

	-moz-transform-origin:71px 165px;
	-webkit-transform-origin:71px 165px;
	-o-transform-origin:71px 165px;
	-ms-transform-origin:71px 165px;
}
.main_img .m_person4 {
	position: absolute;
	left: 457px;
	top: 498px;
	width: 89px;
	-webkit-animation-delay: 1.55s;
	animation-delay: 1.55s;

	-moz-transform-origin:46px 140px;
	-webkit-transform-origin:46px 140px;
	-o-transform-origin:46px 140px;
	-ms-transform-origin:46px 140px;
}
.main_img .m_person5 {
	position: absolute;
	left: 617px;
	top: 475px;
	width: 133px;
	z-index: 2;
	-webkit-animation-delay: 1.6s;
	animation-delay: 1.6s;

	-moz-transform-origin:78px 188px;
	-webkit-transform-origin:78px 188px;
	-o-transform-origin:78px 188px;
	-ms-transform-origin:78px 188px;
}
.main_img .m_person6 {
	position: absolute;
	left: 820px;
	top: 529px;
	width: 38px;
	-webkit-animation-delay: 1.65s;
	animation-delay: 1.65s;

	-moz-transform-origin:22px 122px;
	-webkit-transform-origin:22px 122px;
	-o-transform-origin:22px 122px;
	-ms-transform-origin:22px 122px;
}
.main_img .m_person7 {
	position: absolute;
	left: 920px;
	top: 470px;
	width: 65px;
	-webkit-animation-delay: 1.7s;
	animation-delay: 1.7s;

	-moz-transform-origin:33px 131px;
	-webkit-transform-origin:33px 131px;
	-o-transform-origin:33px 131px;
	-ms-transform-origin:33px 131px;
}
.main_img .m_person8 {
	position: absolute;
	left: 1004px;
	top: 412px;
	width: 226px;
	-webkit-animation-delay: 1.75s;
	animation-delay: 1.75s;

	-moz-transform-origin:117px 171px;
	-webkit-transform-origin:117px 171px;
	-o-transform-origin:117px 171px;
	-ms-transform-origin:117px 171px;
}
.main_img .m_person9 {
	position: absolute;
	left: 1037px;
	top: 219px;
	width: 251px;
	-webkit-animation-delay: 1.8s;
	animation-delay: 1.8s;

	-moz-transform-origin:136px 213px;
	-webkit-transform-origin:136px 213px;
	-o-transform-origin:136px 213px;
	-ms-transform-origin:136px 213px;
}
.main_img .m_coin15 {
	position: absolute;
	left: 393px;
	top: -45px;
	width: 78px;
}
.main_img .m_coin16 {
	position: absolute;
	left: 589px;
	top: -25px;
	width: 59px;
}
.main_img .m_coin17 {
	position: absolute;
	left: 915px;
	top: -9px;
	width: 70px;
}

.main_img .m_coin14 {
	position: absolute;
	left: 1217px;
	top: 400px;
	width: 50px;
}
.main_img .m_coin13 {
	position: absolute;
	left: 1065px;
	top: 323px;
	width: 77px;
}
.main_img .m_coin12 {
	position: absolute;
	left: 1031px;
	top: 230px;
	width: 34px;
}
.main_img .m_coin11 {
	position: absolute;
	left: 1265px;
	top: 155px;
	width: 64px;
}
.main_img .m_coin10 {
	position: absolute;
	left: 1013px;
	top: 100px;
	width: 47px;
}
.main_img .m_coin9 {
	position: absolute;
	left: 1212px;
	top: -32px;
	width: 88px;
}
.main_img .m_coin8 {
	position: absolute;
	left: 1064px;
	top: -35px;
	width: 104px;
}
.main_img .m_coin7 {
	position: absolute;
	left: 129px;
	top: 465px;
	width: 48px;
}
.main_img .m_coin6 {
	position: absolute;
	left: 239px;
	top: 257px;
	width: 43px;
}
.main_img .m_coin5 {
	position: absolute;
	left: 42px;
	top: 196px;
	width: 58px;
}
.main_img .m_coin4 {
	position: absolute;
	left: 327px;
	top: 93px;
	width: 46px;
}
.main_img .m_coin3 {
	position: absolute;
	left: 131px;
	top: 128.5px;
	width: 65px;
}
.main_img .m_coin2 {
	position: absolute;
	left: 251px;
	top: -17px;
	width: 67px;
}
.main_img .m_coin1 {
	position: absolute;
	left: 87px;
	top: -19px;
	width: 119px;
}
.main_img .m_coin1 .exSlideX {
	-webkit-animation-delay: 2.7s;
	animation-delay: 2.7s;
	-webkit-transform: translate3d(350px, 0, 0);
    transform: translate3d(350px, 0, 0);
}
.main_img .m_coin1 .exSlideY {
	-webkit-animation-delay: 2.7s;
	animation-delay: 2.7s;
	-webkit-transform: translate3d(0, 175px, 0) rotate3d(0,0,1,360deg);
    transform: translate3d(0, 175px, 0) rotate3d(0,0,1,360deg);
}

.main_img .m_coin2 .exSlideX {
	-webkit-animation-delay: 2.7s;
	animation-delay: 2.7s;
	-webkit-transform: translate3d(191px, 0, 0);
    transform: translate3d(191px, 0, 0);
}
.main_img .m_coin2 .exSlideY {
	-webkit-animation-delay: 2.7s;
	animation-delay: 2.7s;
	-webkit-transform: translate3d(0, 181px, 0) rotate3d(0,0,1,360deg);
    transform: translate3d(0, 181px, 0) rotate3d(0,0,1,360deg);
}

.main_img .m_coin3 .exSlideX {
	-webkit-animation-delay: 2.7s;
	animation-delay: 2.7s;
	-webkit-transform: translate3d(300px, 0, 0);
    transform: translate3d(300px, 0, 0);
}
.main_img .m_coin3 .exSlideY {
	-webkit-animation-delay: 2.7s;
	animation-delay: 2.7s;
	-webkit-transform: translate3d(0, 103px, 0) rotate3d(0,0,1,360deg);
    transform: translate3d(0, 103px, 0) rotate3d(0,0,1,360deg);
}

.main_img .m_coin4 .exSlideX {
	-webkit-animation-delay: 2.7s;
	animation-delay: 2.7s;
	-webkit-transform: translate3d(216px, 0, 0);
    transform: translate3d(216px, 0, 0);
}
.main_img .m_coin4 .exSlideY {
	-webkit-animation-delay: 2.7s;
	animation-delay: 2.7s;
	-webkit-transform: translate3d(0, 75px, 0) rotate3d(0,0,1,360deg);
    transform: translate3d(0, 75px, 0) rotate3d(0,0,1,360deg);
}

.main_img .m_coin5 .exSlideX {
	-webkit-animation-delay: 2.7s;
	animation-delay: 2.7s;
	-webkit-transform: translate3d(407px, 0, 0);
    transform: translate3d(407px, 0, 0);
}
.main_img .m_coin5 .exSlideY {
	-webkit-animation-delay: 2.7s;
	animation-delay: 2.7s;
	-webkit-transform: translate3d(0, 51px, 0) rotate3d(0,0,1,360deg);
    transform: translate3d(0, 51px, 0) rotate3d(0,0,1,360deg);
}

.main_img .m_coin6 .exSlideX {
	-webkit-animation-delay: 2.7s;
	animation-delay: 2.7s;
	-webkit-transform: translate3d(236px, 0, 0);
    transform: translate3d(236px, 0, 0);
}
.main_img .m_coin6 .exSlideY {
	-webkit-animation-delay: 2.7s;
	animation-delay: 2.7s;
	-webkit-transform: translate3d(0, -62px, 0) rotate3d(0,0,1,360deg);
    transform: translate3d(0, -62px, 0) rotate3d(0,0,1,360deg);
}

.main_img .m_coin7 .exSlideX {
	-webkit-animation-delay: 2.7s;
	animation-delay: 2.7s;
	-webkit-transform: translate3d(368px, 0, 0);
    transform: translate3d(368px, 0, 0);
}
.main_img .m_coin7 .exSlideY {
	-webkit-animation-delay: 2.7s;
	animation-delay: 2.7s;
	-webkit-transform: translate3d(0, -246px, 0) rotate3d(0,0,1,360deg);
    transform: translate3d(0, -246px, 0) rotate3d(0,0,1,360deg);
}

.main_img .m_coin8 .exSlideX {
	-webkit-animation-delay: 2.7s;
	animation-delay: 2.7s;
	-webkit-transform: translate3d(-355px, 0, 0);
    transform: translate3d(-355px, 0, 0);
}
.main_img .m_coin8 .exSlideY {
	-webkit-animation-delay: 2.7s;
	animation-delay: 2.7s;
	-webkit-transform: translate3d(0, 192px, 0) rotate3d(0,0,1,-360deg);
    transform: translate3d(0, 192px, 0) rotate3d(0,0,1,-360deg);
}

.main_img .m_coin9 .exSlideX {
	-webkit-animation-delay: 2.7s;
	animation-delay: 2.7s;
	-webkit-transform: translate3d(-374px, 0, 0);
    transform: translate3d(-374px, 0, 0);
}
.main_img .m_coin9 .exSlideY {
	-webkit-animation-delay: 2.7s;
	animation-delay: 2.7s;
	-webkit-transform: translate3d(0, 209px, 0) rotate3d(0,0,1,-360deg);
    transform: translate3d(0, 209px, 0) rotate3d(0,0,1,-360deg);
}

.main_img .m_coin10 .exSlideX {
	-webkit-animation-delay: 2.7s;
	animation-delay: 2.7s;
	-webkit-transform: translate3d(-276px, 0, 0);
    transform: translate3d(-276px, 0, 0);
}
.main_img .m_coin10 .exSlideY {
	-webkit-animation-delay: 2.7s;
	animation-delay: 2.7s;
	-webkit-transform: translate3d(0, 106px, 0) rotate3d(0,0,1,-360deg);
    transform: translate3d(0, 106px, 0) rotate3d(0,0,1,-360deg);
}

.main_img .m_coin11 .exSlideX {
	-webkit-animation-delay: 2.7s;
	animation-delay: 2.7s;
	-webkit-transform: translate3d(-378px, 0, 0);
    transform: translate3d(-378px, 0, 0);
}
.main_img .m_coin11 .exSlideY {
	-webkit-animation-delay: 2.7s;
	animation-delay: 2.7s;
	-webkit-transform: translate3d(0, 65px, 0) rotate3d(0,0,1,-360deg);
    transform: translate3d(0, 65px, 0) rotate3d(0,0,1,-360deg);
}

.main_img .m_coin12 .exSlideX {
	-webkit-animation-delay: 2.7s;
	animation-delay: 2.7s;
	-webkit-transform: translate3d(-114px, 0, 0);
    transform: translate3d(-114px, 0, 0);
}
.main_img .m_coin12 .exSlideY {
	-webkit-animation-delay: 2.7s;
	animation-delay: 2.7s;
	-webkit-transform: translate3d(0, 26px, 0) rotate3d(0,0,1,-360deg);
    transform: translate3d(0, 26px, 0) rotate3d(0,0,1,-360deg);
}

.main_img .m_coin13 .exSlideX {
	-webkit-animation-delay: 2.7s;
	animation-delay: 2.7s;
	-webkit-transform: translate3d(-208px, 0, 0);
    transform: translate3d(-208px, 0, 0);
}
.main_img .m_coin13 .exSlideY {
	-webkit-animation-delay: 2.7s;
	animation-delay: 2.7s;
	-webkit-transform: translate3d(0, -72px, 0) rotate3d(0,0,1,-360deg);
    transform: translate3d(0, -72px, 0) rotate3d(0,0,1,-360deg);
}

.main_img .m_coin14 .exSlideX {
	-webkit-animation-delay: 2.7s;
	animation-delay: 2.7s;
	-webkit-transform: translate3d(-319px, 0, 0);
    transform: translate3d(-319px, 0, 0);
}
.main_img .m_coin14 .exSlideY {
	-webkit-animation-delay: 2.7s;
	animation-delay: 2.7s;
	-webkit-transform: translate3d(0, -141px, 0) rotate3d(0,0,1,-360deg);
    transform: translate3d(0, -141px, 0) rotate3d(0,0,1,-360deg);
}

.main_img .m_coin15 .exSlideX {
	-webkit-animation-delay: 2.7s;
	animation-delay: 2.7s;
	-webkit-transform: translate3d(119px, 0, 0);
    transform: translate3d(119px, 0, 0);
}
.main_img .m_coin15 .exSlideY {
	-webkit-animation-delay: 2.7s;
	animation-delay: 2.7s;
	-webkit-transform: translate3d(0, 272px, 0) rotate3d(0,0,1,-360deg);
    transform: translate3d(0, 272px, 0) rotate3d(0,0,1,-360deg);
}

.main_img .m_coin16 .exSlideX {
	-webkit-animation-delay: 2.7s;
	animation-delay: 2.7s;
	-webkit-transform: translate3d(46px, 0, 0);
    transform: translate3d(46px, 0, 0);
}
.main_img .m_coin16 .exSlideY {
	-webkit-animation-delay: 2.7s;
	animation-delay: 2.7s;
	-webkit-transform: translate3d(0, 248px, 0) rotate3d(0,0,1,-360deg);
    transform: translate3d(0, 248px, 0) rotate3d(0,0,1,-360deg);
}

.main_img .m_coin17 .exSlideX {
	-webkit-animation-delay: 2.7s;
	animation-delay: 2.7s;
	-webkit-transform: translate3d(-186px, 0, 0);
    transform: translate3d(-186px, 0, 0);
}
.main_img .m_coin17 .exSlideY {
	-webkit-animation-delay: 2.7s;
	animation-delay: 2.7s;
	-webkit-transform: translate3d(0, 233px, 0) rotate3d(0,0,1,-360deg);
    transform: translate3d(0, 233px, 0) rotate3d(0,0,1,-360deg);
}

.main_img .m_logo_coin3 {
	position: absolute;
	left: 802px;
	top: 132px;
	width: 244px;
	z-index: 3;
	-webkit-animation-delay: 2.7s;
	animation-delay: 2.7s;
	-moz-transform-origin:72px 210px;
	-webkit-transform-origin:72px 210px;
	-o-transform-origin:72px 210px;
	-ms-transform-origin:72px 210px;
}
.main_img .m_logo_coin2 {
	position: absolute;
	left: 593px;
	top: 107px;
	width: 215px;
	z-index: 4;
	-webkit-animation-delay: 2.7s;
	animation-delay: 2.7s;
	-moz-transform-origin:108px 206px;
	-webkit-transform-origin:108px 206px;
	-o-transform-origin:108px 206px;
	-ms-transform-origin:108px 206px;
}
.main_img .m_logo_coin1 {
	position: absolute;
	left: 362px;
	top: 124px;
	width: 237px;
	z-index: 5;
	-webkit-animation-delay: 2.7s;
	animation-delay: 2.7s;
	-moz-transform-origin:167px 220px;
	-webkit-transform-origin:167px 220px;
	-o-transform-origin:167px 220px;
	-ms-transform-origin:167px 220px;
}
.main_img .m_logo {
	position: absolute;
	left: 377px;
	top: 225px;
	width: 646px;
	z-index: 6;
	-webkit-animation-delay: 0.6s;
	animation-delay: 0.6s;
}
.main_img .m_logo_fkds {
	position: absolute;
	left: 308px;
	top: 253px;
	width: 185px;
	z-index: 7;
	-webkit-animation-delay: 1s;
	animation-delay: 1s;
	-moz-transform-origin:118px 95px;
	-webkit-transform-origin:118px 95px;
	-o-transform-origin:118px 95px;
	-ms-transform-origin:118px 95px;
}
.main_img .m_catch {
	position: absolute;
	left: 375px;
	top: 24px;
	width: 649px;
	z-index: 20;
}
.main_img .m_baloon {
	position: absolute;
	left: 1079px;
	top: 40px;
	width: 200px;

	-webkit-animation-delay: 3.5s;
	animation-delay: 3.5s;
}
.main_img .m_content_fkds {
	position: absolute;
	left: 0;
	right: 0;
	margin: auto;
	bottom: 0;
	width: 960px;
}


@-webkit-keyframes exBounceIn {
  0% {
  	visibility: hidden;
    opacity: 0.5;
    -webkit-transform: scale3d(.2, .2, .2);
    transform: scale3d(.2, .2, .2);
  }
  1% {
  	visibility: visible;
  }

  40% {
  	opacity: 1;
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }

  70% {
    -webkit-transform: scale3d(.97, .97, .97);
    transform: scale3d(.97, .97, .97);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes exBounceIn {
  0% {
  	visibility: hidden;
    opacity: 0.5;
    -webkit-transform: scale3d(.2, .2, .2);
    transform: scale3d(.2, .2, .2);
  }
  1% {
  	visibility: visible;
  }

  40% {
  	opacity: 1;
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }

  70% {
    -webkit-transform: scale3d(.97, .97, .97);
    transform: scale3d(.97, .97, .97);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.main_animation .exBounceIn {
	-webkit-animation-duration: 0.5s;
	animation-duration: 0.5s;
	-webkit-animation-name: exBounceIn;
	animation-name: exBounceIn;
}



@-webkit-keyframes exBackIn {
  0% {
    -webkit-transform: scale3d(0, 0, 0);
    transform: scale3d(0, 0, 0);
  }

  50% {
    -webkit-transform: scale3d(1.15, 1.15, 1.15);
    transform: scale3d(1.15, 1.15, 1.15);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes exBackIn {
  0% {
    -webkit-transform: scale3d(0, 0, 0);
    transform: scale3d(0, 0, 0);
  }

  50% {
    -webkit-transform: scale3d(1.15, 1.15, 1.15);
    transform: scale3d(1.15, 1.15, 1.15);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.main_animation .exBackIn {
	-webkit-animation-duration: 0.3s;
	animation-duration: 0.3s;
	-webkit-animation-name: exBackIn;
	animation-name: exBackIn;
}



@-webkit-keyframes exDownIn {
from, 50% {
    -webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  0% {
  	opacity: 0;
    -webkit-transform: translate3d(0, -50px, 0);
    transform: translate3d(0, -50px, 0);
  }

  50% {
  	opacity: 1;
    -webkit-transform: translate3d(0, 0, 0) rotate3d(0, 0, 1, 3deg);
    transform: translate3d(0, 0, 0) rotate3d(0, 0, 1, 3deg);
  }

  80% {
    -webkit-transform: translate3d(0, -10px, 0) rotate3d(0, 0, 1, -1.5deg);
    transform: translate3d(0, -10px, 0) rotate3d(0, 0, 1, -1.5deg);
  }

  to {
    -webkit-transform: translate3d(0, 0, 0) rotate3d(0, 0, 1, 0deg);
    transform: translate3d(0, 0, 0) rotate3d(0, 0, 1, 0deg);
  }
}

@keyframes exDownIn {
  from, 50% {
    -webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  0% {
  	opacity: 0;
    -webkit-transform: translate3d(0, -50px, 0);
    transform: translate3d(0, -50px, 0);
  }

  50% {
  	opacity: 1;
    -webkit-transform: translate3d(0, 0, 0) rotate3d(0, 0, 1, 3deg);
    transform: translate3d(0, 0, 0) rotate3d(0, 0, 1, 3deg);
  }

  80% {
    -webkit-transform: translate3d(0, -10px, 0) rotate3d(0, 0, 1, -1.5deg);
    transform: translate3d(0, -10px, 0) rotate3d(0, 0, 1, -1.5deg);
  }

  to {
    -webkit-transform: translate3d(0, 0, 0) rotate3d(0, 0, 1, 0deg);
    transform: translate3d(0, 0, 0) rotate3d(0, 0, 1, 0deg);
  }
}

.main_animation .exDownIn {
	-webkit-animation-duration: 0.3s;
	animation-duration: 0.3s;
	-webkit-animation-name: exDownIn;
	animation-name: exDownIn;
}



@-webkit-keyframes exSlideX {
  0% {
  	opacity: 0;
  	-webkit-animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
    animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  }
  to {
  	opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes exSlideX {
  0% {
  	opacity: 0;
  	-webkit-animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
    animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  }
  to {
  	opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.main_animation .exSlideX {
	-webkit-animation-duration: 0.7s;
	animation-duration: 0.7s;
	-webkit-animation-name: exSlideX;
	animation-name: exSlideX;
}


@-webkit-keyframes exSlideY {
  0% {
	-webkit-animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
    animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  }
  to {
  	opacity: 1;
    -webkit-transform: translate3d(0, 0, 0) rotate3d(0,0,1,0deg);
    transform: translate3d(0, 0, 0) rotate3d(0,0,1,0deg);
  }
}

@keyframes exSlideY {
  0% {
	-webkit-animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
    animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  }
  to {
  	opacity: 1;
    -webkit-transform: translate3d(0, 0, 0) rotate3d(0,0,1,0deg);
    transform: translate3d(0, 0, 0) rotate3d(0,0,1,0deg);
  }
}

.main_animation .exSlideY {
	-webkit-animation-duration: 0.7s;
	animation-duration: 0.7s;
	-webkit-animation-name: exSlideY;
	animation-name: exSlideY;
}

.main_animation .exFadeIn {
	-webkit-animation-delay: 3.5s;
	animation-delay: 3.5s;
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}


@-webkit-keyframes exBounceInDown {
  from, 60%, 75%, 90%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -200px, 0);
    transform: translate3d(0, -200px, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  75% {
    -webkit-transform: translate3d(0, -10px, 0) rotate3d(0,0,1,10deg);
    transform: translate3d(0, -10px, 0) rotate3d(0,0,1,10deg);
  }

  90% {
    -webkit-transform: translate3d(0, 0, 0) rotate3d(0,0,1,-5deg);
    transform: translate3d(0, 0, 0) rotate3d(0,0,1,-5deg);
  }

  to {
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes exBounceInDown {
  from, 60%, 75%, 90%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -200px, 0);
    transform: translate3d(0, -200px, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  75% {
    -webkit-transform: translate3d(0, -10px, 0) rotate3d(0,0,1,10deg);
    transform: translate3d(0, -10px, 0) rotate3d(0,0,1,10deg);
  }

  90% {
    -webkit-transform: translate3d(0, 0, 0) rotate3d(0,0,1,-5deg);
    transform: translate3d(0, 0, 0) rotate3d(0,0,1,-5deg);
  }

  to {
    -webkit-transform: none;
    transform: none;
  }
}

.exBounceInDown {
  -webkit-animation-duration: 0.6s;
  animation-duration: 0.6s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: exBounceInDown;
  animation-name: exBounceInDown;
}


@-webkit-keyframes exBurst {
  0% {
  	opacity: 0;
	-webkit-animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
    animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  }
  to {
  	opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes exBurst {
  0% {
  	opacity: 0;
	-webkit-animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
    animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  }
  to {
  	opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.exBurst {
	-webkit-animation-duration: 0.7s;
	animation-duration: 0.7s;
	-webkit-animation-fill-mode: both;
  animation-fill-mode: both;
	-webkit-animation-name: exBurst;
	animation-name: exBurst;
}


.coin {
	width: 180px;
	height: 187px;
}
.f_st {
	opacity: 0;
}

.f_coinAnimTrigger {
	cursor: pointer;
}

.f_coin1_1 { position: absolute; width: 62px; left: 25px; top: 134px; }
.f_coin1_2 { position: absolute; width: 62px; left: 25px; top: 130px; }
.f_coin1_3 { position: absolute; width: 62px; left: 25px; top: 126px; }
.f_coin1_4 { position: absolute; width: 62px; left: 25px; top: 122px; }
.f_coin1_5 { position: absolute; width: 62px; left: 25px; top: 118px; }
.f_coin1_6 { position: absolute; width: 62px; left: 25px; top: 114px; }
.f_coin1_7 { position: absolute; width: 62px; left: 25px; top: 110px; }
.f_coin1_8 { position: absolute; width: 62px; left: 25px; top: 106px; }
.f_coin1_9 { position: absolute; width: 62px; left: 25px; top: 102px; }
.f_coin1_10 { position: absolute; width: 62px; left: 25px; top: 98px; }
.f_coin1_11 { position: absolute; width: 62px; left: 25px; top: 94px; }
.f_coin1_12 { position: absolute; width: 62px; left: 25px; top: 90px; }
.f_coin1_13 { position: absolute; width: 62px; left: 25px; top: 86px; }
.f_coin1_14 { position: absolute; width: 62px; left: 25px; top: 82px; }
.f_coin1_15 { position: absolute; width: 62px; left: 25px; top: 78px; }
.f_coin1_16 { position: absolute; width: 62px; left: 25px; top: 74px; }
.f_coin1_17 { position: absolute; width: 62px; left: 25px; top: 70px; }
.f_coin1_18 { position: absolute; width: 62px; left: 25px; top: 66px; }
.f_coin1_19 { position: absolute; width: 62px; left: 25px; top: 62px; }
.f_coin1_20 { position: absolute; width: 62px; left: 25px; top: 58px; }

.f_coin2_1 { position: absolute; width: 62px; left: 91px; top: 131px; }
.f_coin2_2 { position: absolute; width: 62px; left: 91px; top: 127px; }
.f_coin2_3 { position: absolute; width: 62px; left: 91px; top: 123px; }
.f_coin2_4 { position: absolute; width: 62px; left: 91px; top: 119px; }
.f_coin2_5 { position: absolute; width: 62px; left: 91px; top: 115px; }
.f_coin2_6 { position: absolute; width: 62px; left: 91px; top: 111px; }
.f_coin2_7 { position: absolute; width: 62px; left: 91px; top: 107px; }
.f_coin2_8 { position: absolute; width: 62px; left: 91px; top: 103px; }
.f_coin2_9 { position: absolute; width: 62px; left: 91px; top: 99px; }
.f_coin2_10 { position: absolute; width: 62px; left: 91px; top: 95px; }
.f_coin2_11 { position: absolute; width: 62px; left: 91px; top: 91px; }
.f_coin2_12 { position: absolute; width: 62px; left: 91px; top: 87px; }
.f_coin2_13 { position: absolute; width: 62px; left: 91px; top: 83px; }
.f_coin2_14 { position: absolute; width: 62px; left: 91px; top: 79px; }
.f_coin2_15 { position: absolute; width: 62px; left: 91px; top: 75px; }
.f_coin2_16 { position: absolute; width: 62px; left: 91px; top: 71px; }
.f_coin2_17 { position: absolute; width: 62px; left: 91px; top: 67px; }
.f_coin2_18 { position: absolute; width: 62px; left: 91px; top: 63px; }
.f_coin2_19 { position: absolute; width: 62px; left: 91px; top: 59px; }
.f_coin2_20 { position: absolute; width: 62px; left: 91px; top: 55px; }

.f_coin3_1 { position: absolute; width: 62px; left: 64px; top: 95px; }
.f_coin3_2 { position: absolute; width: 62px; left: 64px; top: 91px; }
.f_coin3_3 { position: absolute; width: 62px; left: 64px; top: 87px; }
.f_coin3_4 { position: absolute; width: 62px; left: 64px; top: 83px; }
.f_coin3_5 { position: absolute; width: 62px; left: 64px; top: 79px; }
.f_coin3_6 { position: absolute; width: 62px; left: 64px; top: 75px; }
.f_coin3_7 { position: absolute; width: 62px; left: 64px; top: 71px; }
.f_coin3_8 { position: absolute; width: 62px; left: 64px; top: 67px; }
.f_coin3_9 { position: absolute; width: 62px; left: 64px; top: 63px; }
.f_coin3_10 { position: absolute; width: 62px; left: 64px; top: 59px; }
.f_coin3_11 { position: absolute; width: 62px; left: 64px; top: 55px; }
.f_coin3_12 { position: absolute; width: 62px; left: 64px; top: 51px; }
.f_coin3_13 { position: absolute; width: 62px; left: 64px; top: 47px; }
.f_coin3_14 { position: absolute; width: 62px; left: 64px; top: 43px; }
.f_coin3_15 { position: absolute; width: 62px; left: 64px; top: 39px; }
.f_coin3_16 { position: absolute; width: 62px; left: 64px; top: 35px; }
.f_coin3_17 { position: absolute; width: 62px; left: 64px; top: 31px; }
.f_coin3_18 { position: absolute; width: 62px; left: 64px; top: 27px; }
.f_coin3_19 { position: absolute; width: 62px; left: 64px; top: 23px; }
.f_coin3_20 { position: absolute; width: 62px; left: 64px; top: 19px; }
.f_coin3_21 { position: absolute; width: 62px; left: 64px; top: 15px; }
.f_coin3_22 { position: absolute; width: 62px; left: 64px; top: 11px; }
.f_coin3_23 { position: absolute; width: 62px; left: 64px; top: 7px; }
.f_coin3_24 { position: absolute; width: 62px; left: 64px; top: 3px; }
.f_coin3_25 { position: absolute; width: 62px; left: 64px; top: -1px; }


.f_st1 { position: absolute; width: 16px; left: 10px; top: 14px; -webkit-transform: translate3d(53px, 43px, 0); transform: translate3d(53px, 43px, 0); }
.f_st2 { position: absolute; width: 26px; left: 31px; top: 12px; -webkit-transform: translate3d(32px, 30px, 0); transform: translate3d(32px, 30px, 0); }
.f_st3 { position: absolute; width: 25px; left: 9px; top: 35px; -webkit-transform: translate3d(41px, 32px, 0); transform: translate3d(41px, 32px, 0); }
.f_st4 { position: absolute; width: 15px; left: 0px; top: 79px; -webkit-transform: translate3d(39px, 3px, 0); transform: translate3d(39px, 3px, 0); }
.f_st5 { position: absolute; width: 19px; left: 3px; top: 99px; -webkit-transform: translate3d(37px, -11px, 0); transform: translate3d(37px, -11px, 0); }
.f_st6 { position: absolute; width: 26px; left: 132px; top: 22px; -webkit-transform: translate3d(-32px, 31px, 0); transform: translate3d(-32px, 31px, 0); }
.f_st7 { position: absolute; width: 20px; left: 160px; top: 15px; -webkit-transform: translate3d(-41px, 41px, 0); transform: translate3d(-41px, 41px, 0); }
.f_st8 { position: absolute; width: 20px; left: 158px; top: 46px; -webkit-transform: translate3d(-39px, 20px, 0); transform: translate3d(-39px, 20px, 0); }
.f_st9 { position: absolute; width: 20px; left: 156px; top: 74px; -webkit-transform: translate3d(-28px, 10px, 0); transform: translate3d(-28px, 10px, 0); }
