@charset "UTF-8";
body {
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", "HelveticaNeue", "Helvetica Neue", Arial,sans-serif; }

a:hover img {
  opacity: .7; }

.pc {
  display: block; }

img.pc {
  display: inline-block; }

.sp {
  display: none; }

@media screen and (max-width: 640px) {
  a:hover img {
    opacity: 1; }
  .pc {
    display: none !important; }
  .sp {
    display: block; }
  img.sp {
    display: inline-block; } }

#wrap.top {
  position: relative; }
  #wrap.top header {
    position: fixed;
    width: 100%;
    height: 76px;
    background-color: rgba(255, 255, 255, 0.9);
    z-index: 100; }
    #wrap.top header .inner {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      max-width: 1160px;
      height: 76px;
      margin: 0 auto; }
      #wrap.top header .inner a:first-of-type img {
        max-width: 124px;
        width: 100%; }
      #wrap.top header .inner a:last-of-type img {
        max-width: 213px;
        width: 100%; }
  #wrap.top .main_img {
    padding-top: 76px; }
    #wrap.top .main_img img {
      width: 100%; }
  #wrap.top .contents1 .inner {
    position: relative;
    max-width: 1110px;
    min-height: 695px;
    margin: 0 auto; }
  #wrap.top .contents1 h2 {
    position: relative;
    margin-bottom: 44px;
    padding-top: 57px;
    text-align: center;
    z-index: 10; }
    #wrap.top .contents1 h2 img {
      max-width: 462px;
      width: 100%; }
  #wrap.top .contents1 .text {
    position: relative;
    text-align: center;
    line-height: 2.5;
    z-index: 10; }
  #wrap.top .contents1 .image1 {
    position: absolute;
    z-index: 1;
    top: 36px; }
    #wrap.top .contents1 .image1 img {
      width: 255px; }
  #wrap.top .contents1 .image2 {
    position: absolute;
    z-index: 1;
    top: 36px;
    right: 0; }
    #wrap.top .contents1 .image2 img {
      width: 242px; }
  #wrap.top .contents1 .image3 {
    position: absolute;
    z-index: 1;
    top: 443px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%); }
    #wrap.top .contents1 .image3 img {
      width: 212px; }
  #wrap.top .contents1 .image4 {
    position: absolute;
    z-index: 1;
    top: 404px;
    left: 14.77477%; }
    #wrap.top .contents1 .image4 img {
      width: 150px; }
  #wrap.top .contents1 .image5 {
    position: absolute;
    z-index: 1;
    top: 404px;
    right: 14.77477%; }
    #wrap.top .contents1 .image5 img {
      width: 169px; }
  #wrap.top .kadai {
    padding-bottom: 39px;
    background: #009055; }
    #wrap.top .kadai h2 {
      text-align: center; }
      #wrap.top .kadai h2 img {
        max-width: 694px;
        width: 100%;
        margin-top: -1px;
        vertical-align: top; }
    #wrap.top .kadai .text {
      color: #fff;
      text-align: center;
      line-height: 1.625; }
    #wrap.top .kadai .flex {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      max-width: 820px;
      margin: 0 auto; }
    #wrap.top .kadai div[class^="btn"] {
      position: relative;
      -webkit-box-flex: 0;
      -ms-flex: 0 0 48.78049%;
      flex: 0 0 48.78049%;
      max-width: 48.78049%;
      height: 138px;
      background: #fff; }
      #wrap.top .kadai div[class^="btn"] .image {
        position: absolute;
        bottom: 0;
        margin-bottom: 0; }
      #wrap.top .kadai div[class^="btn"] a {
        position: absolute;
        display: block;
        width: 100%;
        height: 100%;
        padding: 22px 20px 0; }
    #wrap.top .kadai .btn1 .btn_text img {
      max-width: 221px;
      width: 100%; }
    #wrap.top .kadai .btn1 .image {
      right: 11px; }
      #wrap.top .kadai .btn1 .image img {
        max-width: 113.5px;
        width: 100%; }
    #wrap.top .kadai .btn2 .btn_text img {
      max-width: 212px;
      width: 100%; }
    #wrap.top .kadai .btn2 .image {
      right: 19px; }
      #wrap.top .kadai .btn2 .image img {
        max-width: 118.5px;
        width: 100%; }
    #wrap.top .kadai .arrow {
      text-align: center; }
  #wrap.top #utilize {
    padding-top: 81px; }
    #wrap.top #utilize h2 {
      margin-bottom: 64px;
      text-align: center; }
      #wrap.top #utilize h2 img {
        max-width: 731px;
        width: 100%; }
    #wrap.top #utilize .flex {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      max-width: 944px;
      margin: 0 auto; }
      #wrap.top #utilize .flex .text_box {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 66.63136%;
        flex: 0 0 66.63136%;
        max-width: 66.63136%;
        -ms-flex: 0 0 67.5% \0;
        flex: 0 0 67.5% \0;
        max-width: 67.5%\0;
        min-height: 244.13px;
        width: 100%;
        background-size: 100% !important; }
      #wrap.top #utilize .flex .title {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        margin-bottom: 16px; }
      #wrap.top #utilize .flex .mark {
        margin-right: 32px;
        margin-bottom: 0; }
        #wrap.top #utilize .flex .mark img {
          max-width: 44px;
          width: 100%; }
      #wrap.top #utilize .flex h3 {
        margin-bottom: 0; }
        #wrap.top #utilize .flex h3 img {
          width: 100%; }
      #wrap.top #utilize .flex .images p {
        margin-bottom: 0; }
        #wrap.top #utilize .flex .images p img {
          width: 100%; }
      #wrap.top #utilize .flex .text {
        font-size: 14px;
        font-size: 0.875rem;
        line-height: 1.42857; }
      #wrap.top #utilize .flex:first-of-type {
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end; }
        #wrap.top #utilize .flex:first-of-type .text_box {
          margin-right: 15px;
          padding: 36px 40px;
          background: url(../images/balloon_utilize_1.svg) no-repeat; }
        #wrap.top #utilize .flex:first-of-type .mark img {
          max-width: 44px; }
        #wrap.top #utilize .flex:first-of-type h3 img {
          max-width: 394px; }
        #wrap.top #utilize .flex:first-of-type .images {
          -webkit-box-flex: 0;
          -ms-flex: 0 0 21.29237%;
          flex: 0 0 21.29237%;
          max-width: 21.29237%; }
          #wrap.top #utilize .flex:first-of-type .images p img {
            max-width: 201px; }
        #wrap.top #utilize .flex:first-of-type .text {
          padding-left: 80px; }
      #wrap.top #utilize .flex:last-of-type {
        margin-bottom: 50px;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start; }
        #wrap.top #utilize .flex:last-of-type .text_box {
          margin-top: 24px;
          margin-left: -30px;
          padding: 36px 40px 36px 60px;
          background: url(../images/balloon_utilize_2.svg) no-repeat;
          -webkit-box-ordinal-group: 3;
          -ms-flex-order: 2;
          order: 2; }
        #wrap.top #utilize .flex:last-of-type .mark img {
          max-width: 13px; }
        #wrap.top #utilize .flex:last-of-type h3 img {
          max-width: 384px; }
        #wrap.top #utilize .flex:last-of-type .images {
          position: relative;
          -webkit-box-flex: 0;
          -ms-flex: 0 0 28.76059%;
          flex: 0 0 28.76059%;
          max-width: 28.76059%;
          -webkit-box-ordinal-group: 2;
          -ms-flex-order: 1;
          order: 1; }
          #wrap.top #utilize .flex:last-of-type .images p img {
            max-width: 271.5px; }
        #wrap.top #utilize .flex:last-of-type .text {
          padding-left: 45px; }
  #wrap.top .application_sample1 #parallax1 {
    background: url(../images/title_application_sample1_bg.jpg) 50% 0 no-repeat fixed;
    background-size: cover; }
  #wrap.top .application_sample1 h2 {
    height: 319px;
    margin-bottom: 0;
    padding-top: 100px;
    text-align: center;
    background: url(../images/title_application_sample_bg.png) no-repeat center bottom;
    background-size: 14000px 319px; }
    #wrap.top .application_sample1 h2 img {
      max-width: 570px;
      width: 100%; }
  #wrap.top .application_sample1 .flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    max-width: 834px;
    margin: 20px auto 32px; }
    #wrap.top .application_sample1 .flex p:first-of-type img {
      max-width: 478px;
      width: 100%; }
    #wrap.top .application_sample1 .flex p:last-of-type img {
      max-width: 344px;
      width: 100%; }
  #wrap.top .application_sample1 .contents {
    position: relative;
    padding: 34px 0 86px;
    background: url(../images/contents_dot_bg.svg); }
    #wrap.top .application_sample1 .contents .arrow {
      position: absolute;
      top: -34px;
      left: 50%;
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      transform: translateX(-50%); }
    #wrap.top .application_sample1 .contents .inner {
      max-width: 950px;
      margin: auto;
      padding: 60px 0 0;
      background: #fff;
      border-radius: 30px; }
      #wrap.top .application_sample1 .contents .inner h3 {
        margin-bottom: 44px;
        text-align: center; }
        #wrap.top .application_sample1 .contents .inner h3 img {
          max-width: 675px;
          width: 100%; }
      #wrap.top .application_sample1 .contents .inner .image {
        margin-bottom: 49px;
        text-align: center; }
        #wrap.top .application_sample1 .contents .inner .image img {
          max-width: 677px;
          width: 100%; }
      #wrap.top .application_sample1 .contents .inner .bottom_text {
        padding: 30px 78px 20px;
        color: #fff;
        background: #009055;
        border-bottom-right-radius: 30px;
        border-bottom-left-radius: 30px;
        line-height: 1.875; }
  #wrap.top .application_sample2 #parallax2 {
    background: url(../images/title_application_sample2_bg.jpg) 50% 0 no-repeat fixed;
    background-size: cover; }
  #wrap.top .application_sample2 h2 {
    height: 319px;
    padding-top: 100px;
    margin-bottom: 0;
    text-align: center;
    background: url(../images/title_application_sample_bg.png) no-repeat center bottom;
    background-size: 14000px 319px; }
    #wrap.top .application_sample2 h2 img {
      max-width: 690px;
      width: 100%; }
  #wrap.top .application_sample2 .flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    max-width: 906px;
    margin: 20px auto 32px; }
    #wrap.top .application_sample2 .flex p:first-of-type img {
      max-width: 479px;
      width: 100%; }
    #wrap.top .application_sample2 .flex p:last-of-type img {
      max-width: 394px;
      width: 100%; }
  #wrap.top .application_sample2 .contents {
    position: relative;
    padding: 34px 0 86px;
    background: url(../images/contents_dot_bg.svg); }
    #wrap.top .application_sample2 .contents .arrow {
      position: absolute;
      top: -34px;
      left: 50%;
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      transform: translateX(-50%); }
    #wrap.top .application_sample2 .contents .inner {
      max-width: 950px;
      margin: auto;
      padding: 60px 0 0;
      background: #fff;
      border-radius: 30px; }
      #wrap.top .application_sample2 .contents .inner h3 {
        margin-bottom: 44px;
        text-align: center; }
        #wrap.top .application_sample2 .contents .inner h3 img {
          max-width: 655px;
          width: 100%; }
      #wrap.top .application_sample2 .contents .inner .image {
        margin-bottom: 49px;
        text-align: center; }
        #wrap.top .application_sample2 .contents .inner .image img {
          max-width: 678px;
          width: 100%; }
      #wrap.top .application_sample2 .contents .inner .bottom_text {
        padding: 30px 78px 20px;
        color: #fff;
        background: #009055;
        border-bottom-right-radius: 30px;
        border-bottom-left-radius: 30px;
        line-height: 1.875; }
  #wrap.top .application_sample3 #parallax3 {
    background: url(../images/title_application_sample3_bg.jpg) 50% 0 no-repeat fixed;
    background-size: cover; }
  #wrap.top .application_sample3 h2 {
    height: 319px;
    padding-top: 100px;
    margin-bottom: 0;
    text-align: center;
    background: url(../images/title_application_sample_bg.png) no-repeat center bottom;
    background-size: 14000px 319px; }
    #wrap.top .application_sample3 h2 img {
      max-width: 720px;
      width: 100%; }
  #wrap.top .application_sample3 .flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    max-width: 906px;
    margin: 20px auto 32px; }
    #wrap.top .application_sample3 .flex p:first-of-type img {
      max-width: 508px;
      width: 100%; }
    #wrap.top .application_sample3 .flex p:last-of-type img {
      max-width: 354px;
      width: 100%; }
  #wrap.top .application_sample3 .contents {
    position: relative;
    padding: 34px 0 86px;
    background: url(../images/contents_dot_bg.svg); }
    #wrap.top .application_sample3 .contents .arrow {
      position: absolute;
      top: -34px;
      left: 50%;
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      transform: translateX(-50%); }
    #wrap.top .application_sample3 .contents .inner {
      max-width: 950px;
      margin: auto;
      padding: 60px 0 0;
      background: #fff;
      border-radius: 30px; }
      #wrap.top .application_sample3 .contents .inner h3 {
        margin-bottom: 44px;
        text-align: center; }
        #wrap.top .application_sample3 .contents .inner h3 img {
          max-width: 555px;
          width: 100%; }
      #wrap.top .application_sample3 .contents .inner .image {
        margin-bottom: 49px;
        text-align: center; }
        #wrap.top .application_sample3 .contents .inner .image img {
          max-width: 684px;
          width: 100%; }
      #wrap.top .application_sample3 .contents .inner .bottom_text {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        padding: 30px 43px 20px;
        color: #fff;
        background: #009055;
        border-bottom-right-radius: 30px;
        border-bottom-left-radius: 30px;
        line-height: 1.875; }
        #wrap.top .application_sample3 .contents .inner .bottom_text p:first-of-type {
          -webkit-box-flex: 0;
          -ms-flex: 0 0 50.22727%;
          flex: 0 0 50.22727%;
          max-width: 50.22727%; }
        #wrap.top .application_sample3 .contents .inner .bottom_text span {
          display: inline-block;
          padding-left: 5em;
          text-indent: -5em; }
  #wrap.top .application_sample4 #parallax4 {
    background: url(../images/title_application_sample4_bg.jpg) 50% 0 no-repeat fixed;
    background-size: cover; }
  #wrap.top .application_sample4 h2 {
    height: 319px;
    padding-top: 100px;
    margin-bottom: 0;
    text-align: center;
    background: url(../images/title_application_sample_bg.png) no-repeat center bottom;
    background-size: 14000px 319px; }
    #wrap.top .application_sample4 h2 img {
      max-width: 730px;
      width: 100%; }
  #wrap.top .application_sample4 .first_contents .flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    max-width: 940px;
    margin: 20px auto 32px; }
    #wrap.top .application_sample4 .first_contents .flex p:first-of-type img {
      max-width: 558px;
      width: 100%; }
    #wrap.top .application_sample4 .first_contents .flex p:last-of-type img {
      max-width: 348px;
      width: 100%; }
  #wrap.top .application_sample4 h3.sub_title {
    margin-bottom: 24px;
    padding-top: 82px;
    text-align: center; }
    #wrap.top .application_sample4 h3.sub_title img {
      max-width: 500px;
      width: 100%; }
  #wrap.top .application_sample4 .contents {
    position: relative;
    padding: 34px 0 86px;
    background: url(../images/contents_dot_bg.svg); }
    #wrap.top .application_sample4 .contents .arrow {
      position: absolute;
      top: -34px;
      left: 50%;
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      transform: translateX(-50%); }
    #wrap.top .application_sample4 .contents .inner {
      max-width: 950px;
      margin: auto;
      padding: 60px 0 0;
      background: #fff;
      border-radius: 30px; }
      #wrap.top .application_sample4 .contents .inner h3 {
        margin-bottom: 44px;
        text-align: center; }
        #wrap.top .application_sample4 .contents .inner h3 img {
          max-width: 735px;
          width: 100%; }
      #wrap.top .application_sample4 .contents .inner .image {
        margin-bottom: 49px;
        text-align: center; }
        #wrap.top .application_sample4 .contents .inner .image img {
          max-width: 641px;
          width: 100%; }
      #wrap.top .application_sample4 .contents .inner .bottom_text {
        padding: 30px 78px 20px;
        color: #fff;
        background: #009055;
        border-bottom-right-radius: 30px;
        border-bottom-left-radius: 30px;
        line-height: 1.875; }
  #wrap.top .application_sample4 .second_contents .flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto; }
    #wrap.top .application_sample4 .second_contents .flex .text_box {
      min-height: 244.13px;
      background-size: 100% !important; }
    #wrap.top .application_sample4 .second_contents .flex .title {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      margin-bottom: 16px; }
    #wrap.top .application_sample4 .second_contents .flex .mark {
      margin-right: 32px;
      margin-bottom: 0; }
      #wrap.top .application_sample4 .second_contents .flex .mark img {
        max-width: 44px;
        width: 100%; }
    #wrap.top .application_sample4 .second_contents .flex h3 {
      margin-bottom: 0; }
      #wrap.top .application_sample4 .second_contents .flex h3 img {
        width: 100%; }
    #wrap.top .application_sample4 .second_contents .flex .images p {
      margin-bottom: 0; }
      #wrap.top .application_sample4 .second_contents .flex .images p img {
        width: 100%; }
    #wrap.top .application_sample4 .second_contents .flex .text {
      font-size: 14px;
      font-size: 0.875rem;
      line-height: 1.42857; }
    #wrap.top .application_sample4 .second_contents .flex:first-of-type {
      -webkit-box-pack: end;
      -ms-flex-pack: end;
      justify-content: flex-end;
      max-width: 896px; }
      #wrap.top .application_sample4 .second_contents .flex:first-of-type .text_box {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 70.20089%;
        flex: 0 0 70.20089%;
        max-width: 70.20089%;
        -ms-flex: 0 0 71% \0;
        flex: 0 0 71% \0;
        max-width: 71%\0;
        min-height: 250px\0;
        margin-top: 52px;
        margin-right: -14px;
        padding: 36px 40px;
        background: url(../images/balloon_application_sample4_1.svg) no-repeat; }
      #wrap.top .application_sample4 .second_contents .flex:first-of-type .mark img {
        max-width: 44px; }
      #wrap.top .application_sample4 .second_contents .flex:first-of-type h3 img {
        max-width: 386px; }
      #wrap.top .application_sample4 .second_contents .flex:first-of-type .images {
        position: relative;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 24.27455%;
        flex: 0 0 24.27455%;
        max-width: 24.27455%; }
        #wrap.top .application_sample4 .second_contents .flex:first-of-type .images p img {
          max-width: 201px; }
      #wrap.top .application_sample4 .second_contents .flex:first-of-type .text {
        padding-left: 80px; }
    #wrap.top .application_sample4 .second_contents .flex:last-of-type {
      max-width: 952px;
      margin-bottom: 50px; }
      #wrap.top .application_sample4 .second_contents .flex:last-of-type .text_box {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 66.07143%;
        flex: 0 0 66.07143%;
        max-width: 66.07143%;
        -ms-flex: 0 0 67% \0;
        flex: 0 0 67% \0;
        max-width: 67%\0;
        margin-top: 24px;
        margin-left: -30px;
        padding: 36px 40px 36px 60px;
        background: url(../images/balloon_application_sample4_2.svg) no-repeat;
        -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
        order: 2; }
      #wrap.top .application_sample4 .second_contents .flex:last-of-type .mark img {
        max-width: 13px; }
      #wrap.top .application_sample4 .second_contents .flex:last-of-type h3 img {
        max-width: 474px; }
      #wrap.top .application_sample4 .second_contents .flex:last-of-type .images {
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1;
        position: relative;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 27.2584%;
        flex: 0 0 27.2584%;
        max-width: 27.2584%; }
        #wrap.top .application_sample4 .second_contents .flex:last-of-type .images p img {
          max-width: 271.5px; }
      #wrap.top .application_sample4 .second_contents .flex:last-of-type .text {
        padding-left: 45px; }
  #wrap.top .introduction_preparation #parallax5 {
    background: url(../images/introduction_preparation_bg.jpg) 50% 0 no-repeat fixed;
    background-size: cover; }
  #wrap.top .introduction_preparation h2 {
    height: 297px;
    margin-bottom: 0;
    padding-top: 100px;
    text-align: center; }
    #wrap.top .introduction_preparation h2 img {
      max-width: 620px;
      width: 100%; }
  #wrap.top .introduction_preparation .contents {
    background: #f4f4f4; }
    #wrap.top .introduction_preparation .contents .inner {
      max-width: 960px;
      margin: 0 auto;
      padding-top: 64px;
      padding-bottom: 14px; }
      #wrap.top .introduction_preparation .contents .inner .flow {
        min-height: 1826px;
        margin-bottom: 44px;
        background-image: url(../images/branch_flow_right.svg), url(../images/branch_flow_left.svg), url(../images/branch_flow_right.svg), url(../images/branch_flow_left.svg), url(../images/branch_flow_right.svg), url(../images/branch_flow_left.svg), url(../images/flow_bg_1.svg);
        background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, no-repeat, no-repeat, no-repeat;
        background-position: calc(50% + 42px) 1380px, calc(50% - 42px) 1260px, calc(50% + 42px) 936px, calc(50% - 42px) 660px, calc(50% + 42px) 380px, calc(50% - 42px) 160px, top center; }
        #wrap.top .introduction_preparation .contents .inner .flow .flex {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: justify;
          -ms-flex-pack: justify;
          justify-content: space-between;
          -webkit-box-align: start;
          -ms-flex-align: start;
          align-items: flex-start;
          -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
        #wrap.top .introduction_preparation .contents .inner .flow .contents {
          -webkit-box-flex: 0;
          -ms-flex: 0 0 41.66667%;
          flex: 0 0 41.66667%;
          max-width: 41.66667%;
          background: #fff;
          border-radius: 20px; }
          #wrap.top .introduction_preparation .contents .inner .flow .contents h3 {
            margin-bottom: 21px;
            padding: 25px 24px 0; }
            #wrap.top .introduction_preparation .contents .inner .flow .contents h3 img {
              width: 100%; }
          #wrap.top .introduction_preparation .contents .inner .flow .contents .images {
            margin-bottom: 24px; }
            #wrap.top .introduction_preparation .contents .inner .flow .contents .images img {
              max-width: 400px;
              width: 100%; }
          #wrap.top .introduction_preparation .contents .inner .flow .contents h4 {
            padding: 0 30px;
            margin-bottom: 24px; }
            #wrap.top .introduction_preparation .contents .inner .flow .contents h4 img {
              width: 100%; }
          #wrap.top .introduction_preparation .contents .inner .flow .contents h5 {
            padding: 0 30px;
            font-size: 18px;
            font-size: 1.125rem; }
          #wrap.top .introduction_preparation .contents .inner .flow .contents .bottom_text {
            padding: 0 30px 24px;
            font-size: 14px;
            font-size: 0.875rem;
            line-height: 1.42857; }
      #wrap.top .introduction_preparation .contents .inner .flow_contents1 {
        margin-bottom: 36px; }
        #wrap.top .introduction_preparation .contents .inner .flow_contents1 h3 img {
          max-width: 184px; }
        #wrap.top .introduction_preparation .contents .inner .flow_contents1 h4 img {
          max-width: 210px; }
      #wrap.top .introduction_preparation .contents .inner .flow_contents2 {
        margin-top: 50px;
        margin-bottom: 36px; }
        #wrap.top .introduction_preparation .contents .inner .flow_contents2 h3 img {
          max-width: 184px; }
        #wrap.top .introduction_preparation .contents .inner .flow_contents2 h4 {
          margin-bottom: 60px !important; }
          #wrap.top .introduction_preparation .contents .inner .flow_contents2 h4 img {
            max-width: 261px; }
      #wrap.top .introduction_preparation .contents .inner .flow_contents3 {
        margin-top: -50px; }
        #wrap.top .introduction_preparation .contents .inner .flow_contents3 h3 img {
          max-width: 208px; }
        #wrap.top .introduction_preparation .contents .inner .flow_contents3 h4 img {
          max-width: 220px; }
      #wrap.top .introduction_preparation .contents .inner .flow_contents4 h3 img {
        max-width: 310px; }
      #wrap.top .introduction_preparation .contents .inner .flow_contents4 h4 img {
        max-width: 188px; }
      #wrap.top .introduction_preparation .contents .inner .flow_contents5 {
        margin-top: -13px; }
        #wrap.top .introduction_preparation .contents .inner .flow_contents5 h3 img {
          max-width: 275px; }
        #wrap.top .introduction_preparation .contents .inner .flow_contents5 h4 img {
          max-width: 260px; }
      #wrap.top .introduction_preparation .contents .inner .flow_contents6 {
        margin-top: 36px; }
        #wrap.top .introduction_preparation .contents .inner .flow_contents6 h3 img {
          max-width: 264px; }
        #wrap.top .introduction_preparation .contents .inner .flow_contents6 h4 img {
          max-width: 253px; }
      #wrap.top .introduction_preparation .contents .inner .bottom_contents {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        max-width: 700px;
        margin: 45px auto 0;
        background-color: #fff;
        border-radius: 20px; }
        #wrap.top .introduction_preparation .contents .inner .bottom_contents .images {
          -webkit-box-flex: 0;
          -ms-flex: 0 0 42.85714%;
          flex: 0 0 42.85714%;
          max-width: 42.85714%;
          margin-bottom: 0; }
          #wrap.top .introduction_preparation .contents .inner .bottom_contents .images img {
            max-width: 300px;
            width: 100%; }
        #wrap.top .introduction_preparation .contents .inner .bottom_contents .right_contents {
          -webkit-box-flex: 0;
          -ms-flex: 0 0 57.14286%;
          flex: 0 0 57.14286%;
          max-width: 57.14286%;
          margin-top: 24px;
          padding-right: 34px;
          padding-left: 34px; }
          #wrap.top .introduction_preparation .contents .inner .bottom_contents .right_contents h3 {
            margin-bottom: 33px; }
            #wrap.top .introduction_preparation .contents .inner .bottom_contents .right_contents h3 img {
              max-width: 264px;
              width: 100%; }
          #wrap.top .introduction_preparation .contents .inner .bottom_contents .right_contents h4 {
            margin-bottom: 22px; }
            #wrap.top .introduction_preparation .contents .inner .bottom_contents .right_contents h4 img {
              max-width: 188px;
              width: 100%; }
          #wrap.top .introduction_preparation .contents .inner .bottom_contents .right_contents h5 {
            font-size: 18px;
            font-size: 1.125rem; }
          #wrap.top .introduction_preparation .contents .inner .bottom_contents .right_contents .bottom_text {
            font-size: 14px;
            font-size: 0.875rem;
            line-height: 1.42857; }
      #wrap.top .introduction_preparation .contents .inner .notice {
        margin-bottom: 0;
        text-align: right;
        font-size: 12px;
        font-size: 0.75rem; }
  #wrap.top .case_study h2 {
    margin: 96px auto 84px;
    text-align: center; }
  #wrap.top .case_study .box {
    width: 100%;
    max-width: 641px;
    min-height: 176.2px;
    margin: 0 auto 24px;
    padding: 40px 20px 46px;
    background: url(../images/balloon_case_study.svg) no-repeat;
    background-size: 100%;
    color: #005103;
    text-align: center; }
    #wrap.top .case_study .box h3 {
      font-size: 24px;
      font-size: 1.5rem; }
  #wrap.top .case_study .video {
    max-width: 692px;
    margin: 0 auto; }
    #wrap.top .case_study .video .inner {
      position: relative;
      width: 100%;
      height: 0;
      padding-bottom: 56.25%;
      overflow: hidden;
      margin-bottom: 50px; }
      #wrap.top .case_study .video .inner iframe {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0; }
  #wrap.top .contact {
    padding-top: 54px;
    padding-bottom: 56px;
    background: #009055; }
    #wrap.top .contact .inner {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      max-width: 720px;
      margin: 0 auto; }
    #wrap.top .contact .image {
      margin-bottom: 0; }
      #wrap.top .contact .image img {
        max-width: 153px;
        width: 100%; }
    #wrap.top .contact .text {
      color: #fff;
      font-size: 20px;
      font-size: 1.25rem;
      line-height: 2; }
    #wrap.top .contact .btn_contact {
      margin-bottom: 0; }
      #wrap.top .contact .btn_contact img {
        max-width: 514px;
        width: 100%; }
  #wrap.top .footer .nav {
    background: #e5e5e5; }
  #wrap.top .footer .inner {
    max-width: 960px;
    margin: 0 auto;
    padding: 28px 0 20px;
    font-size: 14px;
    font-size: 0.875rem; }
    #wrap.top .footer .inner ul {
      list-style: none;
      padding-left: 0;
      line-height: 1.42857; }
      #wrap.top .footer .inner ul li {
        display: inline-block; }
        #wrap.top .footer .inner ul li a {
          color: #595656; }
        #wrap.top .footer .inner ul li:first-child:after {
          content: '｜';
          display: inline-block;
          margin-left: 7px; }
    #wrap.top .footer .inner p {
      margin-bottom: 0;
      color: #595656;
      line-height: 1.71429; }
  #wrap.top .footer .copyright {
    margin-bottom: 0;
    padding: 36px 0;
    color: #595656;
    text-align: center;
    font-size: 12px;
    font-size: 0.75rem; }
  #wrap.top .pagetop {
    position: fixed;
    width: 100%;
    height: 69px;
    bottom: 110px;
    z-index: 100;
    pointer-events: none; }
    #wrap.top .pagetop .inner {
      max-width: 1200px;
      margin: 0 auto;
      text-align: right; }
      #wrap.top .pagetop .inner a {
        display: inline-block;
        width: 69px;
        height: 69px;
        pointer-events: auto; }
  @media screen and (max-width: 640px) {
    #wrap.top header {
      height: 45px; }
      #wrap.top header .inner {
        height: 45px; }
        #wrap.top header .inner a:first-of-type {
          margin-left: 10px; }
          #wrap.top header .inner a:first-of-type img {
            max-width: 79px; }
        #wrap.top header .inner a:last-of-type img {
          max-width: 120px; }
    #wrap.top .main_img {
      padding-top: 45px; }
    #wrap.top .contents1 .inner {
      overflow-x: hidden;
      min-height: 567px;
      min-height: 177.1875vw; }
      #wrap.top .contents1 .inner h2 {
        margin-bottom: 22px;
        margin-bottom: 6.875vw;
        padding-top: 29px;
        padding-top: 9.0625vw; }
        #wrap.top .contents1 .inner h2 img {
          width: 250.5px;
          width: 78.28125vw;
          max-width: initial; }
    #wrap.top .contents1 .text {
      padding-right: 17.5px;
      padding-right: 5.46875vw;
      padding-left: 17.5px;
      padding-left: 5.46875vw;
      font-size: 12px;
      font-size: 3.75vw;
      line-height: 1.91667;
      -webkit-font-feature-settings: "palt" 1;
      font-feature-settings: "palt" 1; }
    #wrap.top .contents1 .image1 {
      top: 300px;
      top: 93.75vw;
      left: -16px; }
      #wrap.top .contents1 .image1 img {
        width: 128px; }
    #wrap.top .contents1 .image2 {
      top: 294px;
      top: 91.875vw;
      right: -16.5px; }
      #wrap.top .contents1 .image2 img {
        width: 121px; }
    #wrap.top .contents1 .image3 {
      top: 346px;
      top: 108.125vw; }
      #wrap.top .contents1 .image3 img {
        width: 106px; }
    #wrap.top .contents1 .image4 {
      top: 445px;
      top: 139.0625vw;
      left: 71px;
      left: 22.1875vw; }
      #wrap.top .contents1 .image4 img {
        width: 75px; }
    #wrap.top .contents1 .image5 {
      top: 457px;
      top: 142.8125vw;
      right: 71px;
      right: 22.1875vw; }
      #wrap.top .contents1 .image5 img {
        width: 84.5px; }
    #wrap.top .kadai {
      padding-bottom: 25.5px;
      padding-bottom: 7.96875vw; }
      #wrap.top .kadai .text {
        font-size: 12px;
        font-size: 3.75vw;
        line-height: 1.5;
        -webkit-font-feature-settings: "palt" 1;
        font-feature-settings: "palt" 1; }
      #wrap.top .kadai .flex {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-right: 23px;
        margin-right: 7.1875vw;
        margin-left: 23px;
        margin-left: 7.1875vw; }
        #wrap.top .kadai .flex div[class^="btn"] {
          -webkit-box-flex: 0;
          -ms-flex: 0 0 100%;
          flex: 0 0 100%;
          max-width: 100%;
          height: 95px; }
          #wrap.top .kadai .flex div[class^="btn"] p {
            margin-bottom: 0; }
        #wrap.top .kadai .flex .btn1 {
          margin-bottom: 14.5px;
          margin-bottom: 4.53125vw; }
          #wrap.top .kadai .flex .btn1 .btn_text img {
            max-width: 152px; }
          #wrap.top .kadai .flex .btn1 .image img {
            max-width: 79px; }
        #wrap.top .kadai .flex .btn2 .btn_text img {
          max-width: 146.5px; }
        #wrap.top .kadai .flex .btn2 .image img {
          max-width: 82px; }
    #wrap.top #utilize {
      padding-top: 35.5px;
      padding-top: 11.09375vw; }
      #wrap.top #utilize h2 {
        margin-bottom: 35px;
        margin-bottom: 10.9375vw; }
        #wrap.top #utilize h2 img {
          width: 225.5px;
          width: 70.46875vw;
          max-width: initial; }
      #wrap.top #utilize .flex {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-right: 15px;
        margin-right: 4.6875vw;
        margin-left: 15px;
        margin-left: 4.6875vw; }
        #wrap.top #utilize .flex .text_box {
          -webkit-box-flex: 0;
          -ms-flex: 0 0 100%;
          flex: 0 0 100%;
          max-width: 100%;
          min-height: 60.51719vw;
          padding-bottom: 10px; }
        #wrap.top #utilize .flex .text {
          font-size: 12px;
          font-size: 3.75vw;
          line-height: 1.5;
          -webkit-font-feature-settings: "palt" 1;
          font-feature-settings: "palt" 1; }
        #wrap.top #utilize .flex:first-of-type .text_box {
          margin-right: 0;
          padding-top: 18px;
          padding-top: 5.625vw;
          padding-right: 11px;
          padding-right: 3.4375vw;
          padding-left: 11px;
          padding-left: 3.4375vw;
          background-image: url(../images/balloon_utilize_1_sp.svg); }
        #wrap.top #utilize .flex:first-of-type .title {
          margin-bottom: 11px;
          margin-bottom: 3.4375vw; }
        #wrap.top #utilize .flex:first-of-type .mark {
          -webkit-box-flex: 0;
          -ms-flex: 0 0 8.39552%;
          flex: 0 0 8.39552%;
          max-width: 8.39552%;
          margin-right: 1%; }
          #wrap.top #utilize .flex:first-of-type .mark img {
            width: 22.5px;
            width: 7.03125vw;
            max-width: initial; }
        #wrap.top #utilize .flex:first-of-type h3 {
          -webkit-box-flex: 0;
          -ms-flex: 0 0 88.0597%;
          flex: 0 0 88.0597%;
          max-width: 88.0597%; }
          #wrap.top #utilize .flex:first-of-type h3 img {
            width: 236px;
            width: 73.75vw;
            max-width: initial; }
        #wrap.top #utilize .flex:first-of-type .images {
          -webkit-box-flex: 0;
          -ms-flex: 0 0 100%;
          flex: 0 0 100%;
          max-width: 100%;
          margin-top: -40px;
          margin-top: -12.5vw;
          padding-left: 172px;
          padding-left: 53.75vw; }
          #wrap.top #utilize .flex:first-of-type .images img {
            width: 100.5px;
            width: 31.40625vw; }
        #wrap.top #utilize .flex:first-of-type .text {
          padding-left: 31px;
          padding-left: 9.6875vw; }
        #wrap.top #utilize .flex:last-of-type {
          margin-bottom: 40px;
          margin-bottom: 12.5vw; }
          #wrap.top #utilize .flex:last-of-type .text_box {
            margin-top: -15px;
            margin-top: -4.6875vw;
            padding-top: 33px;
            padding-top: 10.3125vw;
            padding-right: 18px;
            padding-right: 5.625vw;
            padding-bottom: 0;
            padding-left: 20px;
            padding-left: 6.25vw;
            min-height: 60.46875vw;
            margin-left: 0;
            background-image: url(../images/balloon_utilize_2_sp.svg); }
          #wrap.top #utilize .flex:last-of-type .images {
            -webkit-box-flex: 0;
            -ms-flex: 0 0 100%;
            flex: 0 0 100%;
            max-width: 100%;
            margin-top: -110px;
            margin-top: -34.375vw; }
            #wrap.top #utilize .flex:last-of-type .images img {
              width: 136px;
              width: 42.5vw; }
    #wrap.top .application_sample1 #parallax1 {
      background: url(../images/title_application_sample1_bg_sp.jpg) 50% 0 no-repeat fixed;
      background-size: cover; }
    #wrap.top .application_sample1 h2 {
      height: 159px;
      padding-top: 40px; }
      #wrap.top .application_sample1 h2 img {
        max-width: 285px; }
    #wrap.top .application_sample1 .flex {
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      padding-right: 20px;
      padding-right: 6.25vw;
      padding-left: 20px;
      padding-left: 6.25vw; }
    #wrap.top .application_sample1 .contents {
      padding-top: 17.5px;
      padding-top: 5.46875vw;
      padding-bottom: 19.5px;
      padding-bottom: 6.09375vw; }
      #wrap.top .application_sample1 .contents .inner {
        margin-right: 14.5px;
        margin-right: 4.53125vw;
        margin-left: 14.5px;
        margin-left: 4.53125vw;
        padding-top: 30px;
        padding-top: 9.375vw;
        border-radius: 15px; }
        #wrap.top .application_sample1 .contents .inner h3 {
          margin-bottom: 25px;
          margin-bottom: 7.8125vw;
          padding-right: 31.5px;
          padding-right: 9.84375vw;
          padding-left: 31.5px;
          padding-left: 9.84375vw; }
        #wrap.top .application_sample1 .contents .inner .image {
          margin-bottom: 22.5px;
          margin-bottom: 7.03125vw;
          padding-right: 15.5px;
          padding-right: 4.84375vw;
          padding-left: 17.5px;
          padding-left: 5.46875vw; }
        #wrap.top .application_sample1 .contents .inner .bottom_text {
          margin-bottom: 0;
          padding-top: 15px;
          padding-top: 4.6875vw;
          padding-right: 11px;
          padding-right: 3.4375vw;
          padding-bottom: 10px;
          padding-bottom: 3.125vw;
          padding-left: 11px;
          padding-left: 3.4375vw;
          font-size: 12px;
          font-size: 3.75vw;
          line-height: 1.5;
          border-bottom-right-radius: 15px;
          border-bottom-left-radius: 15px;
          -webkit-font-feature-settings: "palt" 1;
          font-feature-settings: "palt" 1; }
    #wrap.top .application_sample2 #parallax2 {
      background: url(../images/title_application_sample2_bg_sp.jpg) 50% 0 no-repeat fixed;
      background-size: cover; }
    #wrap.top .application_sample2 h2 {
      height: 159px;
      padding-top: 40px; }
      #wrap.top .application_sample2 h2 img {
        max-width: 285px; }
    #wrap.top .application_sample2 .flex {
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      padding-right: 20px;
      padding-right: 6.25vw;
      padding-left: 20px;
      padding-left: 6.25vw; }
    #wrap.top .application_sample2 .contents {
      padding-top: 17.5px;
      padding-top: 5.46875vw;
      padding-bottom: 19.5px;
      padding-bottom: 6.09375vw; }
      #wrap.top .application_sample2 .contents .inner {
        margin-right: 14.5px;
        margin-right: 4.53125vw;
        margin-left: 14.5px;
        margin-left: 4.53125vw;
        padding-top: 30px;
        padding-top: 9.375vw;
        border-radius: 15px; }
        #wrap.top .application_sample2 .contents .inner h3 {
          margin-bottom: 25px;
          margin-bottom: 7.8125vw;
          padding-right: 31.5px;
          padding-right: 9.84375vw;
          padding-left: 31.5px;
          padding-left: 9.84375vw; }
        #wrap.top .application_sample2 .contents .inner .image {
          margin-bottom: 22.5px;
          margin-bottom: 7.03125vw;
          padding-right: 15.5px;
          padding-right: 4.84375vw;
          padding-left: 17.5px;
          padding-left: 5.46875vw; }
        #wrap.top .application_sample2 .contents .inner .bottom_text {
          margin-bottom: 0;
          padding-top: 15px;
          padding-top: 4.6875vw;
          padding-right: 11px;
          padding-right: 3.4375vw;
          padding-bottom: 10px;
          padding-bottom: 3.125vw;
          padding-left: 11px;
          padding-left: 3.4375vw;
          font-size: 12px;
          font-size: 3.75vw;
          line-height: 1.5;
          border-bottom-right-radius: 15px;
          border-bottom-left-radius: 15px;
          -webkit-font-feature-settings: "palt" 1;
          font-feature-settings: "palt" 1; }
    #wrap.top .application_sample3 #parallax3 {
      background: url(../images/title_application_sample3_bg_sp.jpg) 50% 0 no-repeat fixed;
      background-size: cover; }
    #wrap.top .application_sample3 h2 {
      height: 159px;
      padding-top: 40px; }
      #wrap.top .application_sample3 h2 img {
        max-width: 285px; }
    #wrap.top .application_sample3 .flex {
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      padding-right: 20px;
      padding-right: 6.25vw;
      padding-left: 20px;
      padding-left: 6.25vw; }
    #wrap.top .application_sample3 .contents {
      padding-top: 17.5px;
      padding-top: 5.46875vw;
      padding-bottom: 19.5px;
      padding-bottom: 6.09375vw; }
      #wrap.top .application_sample3 .contents .inner {
        margin-right: 14.5px;
        margin-right: 4.53125vw;
        margin-left: 14.5px;
        margin-left: 4.53125vw;
        padding-top: 30px;
        padding-top: 9.375vw;
        border-radius: 15px; }
        #wrap.top .application_sample3 .contents .inner h3 {
          margin-bottom: 25px;
          margin-bottom: 7.8125vw;
          padding-right: 31.5px;
          padding-right: 9.84375vw;
          padding-left: 31.5px;
          padding-left: 9.84375vw; }
        #wrap.top .application_sample3 .contents .inner .image {
          margin-bottom: 22.5px;
          margin-bottom: 7.03125vw;
          padding-right: 15.5px;
          padding-right: 4.84375vw;
          padding-left: 17.5px;
          padding-left: 5.46875vw; }
        #wrap.top .application_sample3 .contents .inner .bottom_text {
          -ms-flex-wrap: wrap;
          flex-wrap: wrap;
          margin-bottom: 0;
          padding-top: 15px;
          padding-top: 4.6875vw;
          padding-right: 11px;
          padding-right: 3.4375vw;
          padding-bottom: 10px;
          padding-bottom: 3.125vw;
          padding-left: 11px;
          padding-left: 3.4375vw;
          font-size: 12px;
          font-size: 3.75vw;
          line-height: 1.5;
          border-bottom-right-radius: 15px;
          border-bottom-left-radius: 15px;
          -webkit-font-feature-settings: "palt" 1;
          font-feature-settings: "palt" 1; }
          #wrap.top .application_sample3 .contents .inner .bottom_text p, #wrap.top .application_sample3 .contents .inner .bottom_text p:first-of-type {
            -webkit-box-flex: 0;
            -ms-flex: 0 0 100%;
            flex: 0 0 100%;
            max-width: 100%; }
    #wrap.top .application_sample4 #parallax4 {
      background: url(../images/title_application_sample4_bg_sp.jpg) 50% 0 no-repeat fixed;
      background-size: cover; }
    #wrap.top .application_sample4 h2 {
      height: 159px;
      padding-top: 40px; }
      #wrap.top .application_sample4 h2 img {
        max-width: 285px; }
    #wrap.top .application_sample4 .first_contents .flex {
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      padding-right: 20px;
      padding-right: 6.25vw;
      padding-left: 20px;
      padding-left: 6.25vw; }
    #wrap.top .application_sample4 h3.sub_title {
      padding-top: 35.5px;
      padding-top: 11.09375vw;
      padding-right: 37px;
      padding-right: 11.5625vw;
      padding-left: 37px;
      padding-left: 11.5625vw; }
    #wrap.top .application_sample4 .contents {
      padding-top: 17.5px;
      padding-top: 5.46875vw;
      padding-bottom: 19.5px;
      padding-bottom: 6.09375vw; }
      #wrap.top .application_sample4 .contents .inner {
        margin-right: 14.5px;
        margin-right: 4.53125vw;
        margin-left: 14.5px;
        margin-left: 4.53125vw;
        padding-top: 30px;
        padding-top: 9.375vw;
        border-radius: 15px; }
        #wrap.top .application_sample4 .contents .inner h3 {
          margin-bottom: 25px;
          margin-bottom: 7.8125vw;
          padding-right: 31.5px;
          padding-right: 9.84375vw;
          padding-left: 31.5px;
          padding-left: 9.84375vw; }
        #wrap.top .application_sample4 .contents .inner .image {
          margin-bottom: 22.5px;
          margin-bottom: 7.03125vw;
          padding-right: 15.5px;
          padding-right: 4.84375vw;
          padding-left: 17.5px;
          padding-left: 5.46875vw; }
        #wrap.top .application_sample4 .contents .inner .bottom_text {
          margin-bottom: 0;
          padding-top: 15px;
          padding-top: 4.6875vw;
          padding-right: 11px;
          padding-right: 3.4375vw;
          padding-bottom: 10px;
          padding-bottom: 3.125vw;
          padding-left: 11px;
          padding-left: 3.4375vw;
          font-size: 12px;
          font-size: 3.75vw;
          line-height: 1.5;
          border-bottom-right-radius: 15px;
          border-bottom-left-radius: 15px;
          -webkit-font-feature-settings: "palt" 1;
          font-feature-settings: "palt" 1; }
    #wrap.top .application_sample4 .second_contents .flex {
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      margin-right: 15px;
      margin-right: 4.6875vw;
      margin-left: 15px;
      margin-left: 4.6875vw; }
      #wrap.top .application_sample4 .second_contents .flex .text_box {
        min-height: 60.51719vw;
        padding-bottom: 10px; }
      #wrap.top .application_sample4 .second_contents .flex .text {
        font-size: 12px;
        font-size: 3.75vw;
        line-height: 1.5;
        -webkit-font-feature-settings: "palt" 1;
        font-feature-settings: "palt" 1; }
      #wrap.top .application_sample4 .second_contents .flex:first-of-type .text_box {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
        margin-top: 0;
        margin-right: 0;
        padding-top: 18px;
        padding-top: 5.625vw;
        padding-right: 11px;
        padding-right: 3.4375vw;
        padding-left: 11px;
        padding-left: 3.4375vw;
        background-image: url(../images/balloon_utilize_1_sp.svg); }
      #wrap.top .application_sample4 .second_contents .flex:first-of-type .title {
        margin-bottom: 11px;
        margin-bottom: 3.4375vw; }
      #wrap.top .application_sample4 .second_contents .flex:first-of-type .mark {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 8.39552%;
        flex: 0 0 8.39552%;
        max-width: 8.39552%;
        margin-right: 1%; }
        #wrap.top .application_sample4 .second_contents .flex:first-of-type .mark img {
          width: 22.5px;
          width: 7.03125vw;
          max-width: initial; }
      #wrap.top .application_sample4 .second_contents .flex:first-of-type h3 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 88.0597%;
        flex: 0 0 88.0597%;
        max-width: 88.0597%; }
        #wrap.top .application_sample4 .second_contents .flex:first-of-type h3 img {
          width: 236px;
          width: 73.75vw;
          max-width: initial; }
      #wrap.top .application_sample4 .second_contents .flex:first-of-type .images {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
        margin-top: -40px;
        margin-top: -12.5vw;
        padding-left: 172px;
        padding-left: 53.75vw; }
        #wrap.top .application_sample4 .second_contents .flex:first-of-type .images img {
          width: 100.5px;
          width: 31.40625vw; }
      #wrap.top .application_sample4 .second_contents .flex:first-of-type .text {
        padding-left: 31px;
        padding-left: 9.6875vw; }
      #wrap.top .application_sample4 .second_contents .flex:last-of-type {
        margin-bottom: 40px;
        margin-bottom: 12.5vw; }
        #wrap.top .application_sample4 .second_contents .flex:last-of-type .text_box {
          -webkit-box-flex: 0;
          -ms-flex: 0 0 100%;
          flex: 0 0 100%;
          max-width: 100%;
          margin-top: -15px;
          margin-top: -4.6875vw;
          padding-top: 33px;
          padding-top: 10.3125vw;
          padding-right: 18px;
          padding-right: 5.625vw;
          padding-bottom: 0;
          padding-left: 20px;
          padding-left: 6.25vw;
          min-height: 60.46875vw;
          margin-left: 0;
          background-image: url(../images/balloon_utilize_2_sp.svg); }
        #wrap.top .application_sample4 .second_contents .flex:last-of-type .images {
          -webkit-box-flex: 0;
          -ms-flex: 0 0 100%;
          flex: 0 0 100%;
          max-width: 100%;
          margin-top: -110px;
          margin-top: -34.375vw; }
          #wrap.top .application_sample4 .second_contents .flex:last-of-type .images img {
            width: 136px;
            width: 42.5vw; }
    #wrap.top .introduction_preparation #parallax5 {
      background: url(../images/introduction_preparation_bg_sp.jpg) 50% 0 no-repeat fixed;
      background-size: cover; }
    #wrap.top .introduction_preparation h2 {
      height: 159px;
      padding-top: 40px;
      background: url(../images/title_introduction_preparation_bg_sp.png) no-repeat center bottom;
      background-size: 640px 20px; }
      #wrap.top .introduction_preparation h2 img {
        max-width: 285px; }
    #wrap.top .introduction_preparation .contents .inner {
      padding-top: 20px;
      padding-top: 6.25vw; }
      #wrap.top .introduction_preparation .contents .inner .flow {
        background-image: url(../images/branch_flow_2_sp.svg), url(../images/branch_flow_1_sp.svg), url(../images/branch_flow_1_sp.svg), url(../images/branch_flow_1_sp.svg), url(../images/branch_flow_1_sp.svg), url(../images/branch_flow_1_sp.svg), url(../images/branch_flow_1_sp.svg), url(../images/flow_bg_1_sp.svg);
        background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, no-repeat, no-repeat, no-repeat;
        background-position: 5.9375vw 594.6875vw, 8.125vw 505vw, 8.125vw 412.5vw, 8.125vw 320vw, 8.125vw 227.8125vw, 8.125vw 135.625vw, 8.125vw 43.4375vw, 4.6875vw top;
        background-size: 16.71875vw auto, 14.6875vw auto, 14.6875vw auto, 14.6875vw auto, 14.6875vw auto, 14.6875vw auto, 14.6875vw auto, 9.375vw auto; }
        #wrap.top .introduction_preparation .contents .inner .flow .flex {
          -webkit-box-pack: end;
          -ms-flex-pack: end;
          justify-content: flex-end;
          padding-right: 30px;
          padding-right: 9.375vw;
          padding-left: 30px;
          padding-left: 9.375vw; }
        #wrap.top .introduction_preparation .contents .inner .flow .contents {
          -webkit-box-flex: 0;
          -ms-flex: 0 0 84.48276%;
          flex: 0 0 84.48276%;
          max-width: 84.48276%;
          border-radius: 10px; }
          #wrap.top .introduction_preparation .contents .inner .flow .contents h3 {
            margin-bottom: 9.5px;
            margin-bottom: 2.96875vw;
            padding-top: 11.5px;
            padding-top: 3.59375vw;
            padding-right: 12px;
            padding-right: 3.75vw;
            padding-left: 12px;
            padding-left: 3.75vw; }
            #wrap.top .introduction_preparation .contents .inner .flow .contents h3 img {
              max-width: initial; }
          #wrap.top .introduction_preparation .contents .inner .flow .contents .images {
            margin-bottom: 15px;
            margin-bottom: 4.6875vw; }
            #wrap.top .introduction_preparation .contents .inner .flow .contents .images img {
              max-width: initial; }
          #wrap.top .introduction_preparation .contents .inner .flow .contents h4 {
            padding-right: 13px;
            padding-right: 4.0625vw;
            padding-left: 13px;
            padding-left: 4.0625vw;
            margin-bottom: 18px;
            margin-bottom: 5.625vw; }
            #wrap.top .introduction_preparation .contents .inner .flow .contents h4 img {
              max-width: initial; }
          #wrap.top .introduction_preparation .contents .inner .flow .contents h5 {
            padding-right: 14px;
            padding-right: 4.375vw;
            padding-left: 14px;
            padding-left: 4.375vw;
            font-size: 12px;
            font-size: 3.75vw;
            -webkit-font-feature-settings: "palt" 1;
            font-feature-settings: "palt" 1; }
          #wrap.top .introduction_preparation .contents .inner .flow .contents .bottom_text {
            margin-bottom: 0;
            padding-right: 14px;
            padding-right: 4.375vw;
            padding-bottom: 9px;
            padding-bottom: 2.8125vw;
            padding-left: 14px;
            padding-left: 4.375vw;
            font-size: 12px;
            font-size: 3.75vw;
            line-height: 1.5;
            -webkit-font-feature-settings: "palt" 1;
            font-feature-settings: "palt" 1; }
        #wrap.top .introduction_preparation .contents .inner .flow .flow_contents1 {
          margin-bottom: 10px;
          margin-bottom: 3.125vw; }
          #wrap.top .introduction_preparation .contents .inner .flow .flow_contents1 h3 img {
            width: 111.5px;
            width: 34.84375vw; }
          #wrap.top .introduction_preparation .contents .inner .flow .flow_contents1 h4 img {
            width: 131px;
            width: 40.9375vw; }
        #wrap.top .introduction_preparation .contents .inner .flow .flow_contents2 {
          margin-top: 0;
          margin-bottom: 10px;
          margin-bottom: 3.125vw; }
          #wrap.top .introduction_preparation .contents .inner .flow .flow_contents2 h3 img {
            width: 112px;
            width: 35vw; }
          #wrap.top .introduction_preparation .contents .inner .flow .flow_contents2 h4 {
            margin-bottom: 37px !important;
            margin-bottom: 11.5625vw !important; }
            #wrap.top .introduction_preparation .contents .inner .flow .flow_contents2 h4 img {
              width: 163.5px;
              width: 51.09375vw; }
        #wrap.top .introduction_preparation .contents .inner .flow .flow_contents3 {
          margin-top: 0;
          margin-bottom: 10px;
          margin-bottom: 3.125vw; }
          #wrap.top .introduction_preparation .contents .inner .flow .flow_contents3 h3 img {
            width: 127px;
            width: 39.6875vw; }
          #wrap.top .introduction_preparation .contents .inner .flow .flow_contents3 h4 img {
            width: 137px;
            width: 42.8125vw; }
        #wrap.top .introduction_preparation .contents .inner .flow .flow_contents4 {
          margin-bottom: 10px;
          margin-bottom: 3.125vw; }
          #wrap.top .introduction_preparation .contents .inner .flow .flow_contents4 h3 img {
            width: 189px;
            width: 59.0625vw; }
          #wrap.top .introduction_preparation .contents .inner .flow .flow_contents4 h4 img {
            width: 117.5px;
            width: 36.71875vw; }
        #wrap.top .introduction_preparation .contents .inner .flow .flow_contents5 {
          margin-top: 0;
          margin-bottom: 10px;
          margin-bottom: 3.125vw; }
          #wrap.top .introduction_preparation .contents .inner .flow .flow_contents5 h3 img {
            width: 167px;
            width: 52.1875vw; }
          #wrap.top .introduction_preparation .contents .inner .flow .flow_contents5 h4 img {
            width: 162px;
            width: 50.625vw; }
        #wrap.top .introduction_preparation .contents .inner .flow .flow_contents6 {
          margin-top: 0;
          margin-bottom: 10px;
          margin-bottom: 3.125vw; }
          #wrap.top .introduction_preparation .contents .inner .flow .flow_contents6 h3 img {
            width: 162px;
            width: 50.625vw; }
          #wrap.top .introduction_preparation .contents .inner .flow .flow_contents6 h4 img {
            width: 158px;
            width: 49.375vw; }
        #wrap.top .introduction_preparation .contents .inner .flow .flow_contents7 h3 img {
          width: 161px;
          width: 50.3125vw; }
        #wrap.top .introduction_preparation .contents .inner .flow .flow_contents7 h4 img {
          width: 117.5px;
          width: 36.71875vw; }
      #wrap.top .introduction_preparation .contents .inner .notice {
        padding-right: 15px;
        padding-right: 4.6875vw;
        padding-left: 15px;
        padding-left: 4.6875vw;
        font-size: 9px;
        font-size: 2.8125vw; }
    #wrap.top .case_study h2 {
      margin-top: 41px;
      margin-top: 12.8125vw;
      margin-bottom: 40.5px;
      margin-bottom: 12.65625vw; }
      #wrap.top .case_study h2 img {
        width: 108px;
        width: 33.75vw; }
    #wrap.top .case_study .box {
      min-height: 210px;
      min-height: 65.625vw;
      margin-bottom: 0;
      padding-top: 15px;
      padding-top: 4.6875vw;
      padding-right: 14.5px;
      padding-right: 4.53125vw;
      padding-bottom: 0;
      padding-left: 14.5px;
      padding-left: 4.53125vw;
      background-image: url(../images/balloon_case_study_sp.svg);
      background-size: 90.9375% auto;
      background-position: center top; }
      #wrap.top .case_study .box h3 {
        margin-bottom: 8px;
        margin-bottom: 2.5vw;
        font-size: 16px;
        font-size: 5vw; }
      #wrap.top .case_study .box p {
        font-size: 12px;
        font-size: 3.75vw;
        line-height: 1.5; }
    #wrap.top .case_study .video .inner {
      margin-top: -100px;
      margin-top: -31.25vw;
      margin-bottom: 40px;
      margin-bottom: 12.5vw; }
    #wrap.top .contact {
      padding-top: 24px;
      padding-top: 7.5vw;
      padding-bottom: 24px;
      padding-bottom: 7.5vw; }
      #wrap.top .contact .inner {
        padding-right: 14.5px;
        padding-right: 4.53125vw;
        padding-left: 13.5px;
        padding-left: 4.21875vw; }
      #wrap.top .contact .image {
        margin-right: 10px;
        margin-right: 3.125vw; }
      #wrap.top .contact .text {
        font-size: 12px;
        font-size: 3.75vw; }
    #wrap.top .footer .inner {
      padding-top: 25px;
      padding-top: 7.8125vw;
      padding-right: 15px;
      padding-right: 4.6875vw;
      padding-bottom: 17px;
      padding-bottom: 5.3125vw;
      padding-left: 15px;
      padding-left: 4.6875vw;
      font-size: 12px;
      font-size: 3.75vw; }
      #wrap.top .footer .inner ul {
        margin-bottom: 53px;
        margin-bottom: 16.5625vw; }
        #wrap.top .footer .inner ul li {
          display: block; }
          #wrap.top .footer .inner ul li:first-child {
            margin-bottom: 9px;
            margin-bottom: 2.8125vw; }
            #wrap.top .footer .inner ul li:first-child:after {
              content: none; }
      #wrap.top .footer .inner p {
        line-height: 1.5; }
    #wrap.top .footer .copyright {
      padding-top: 16px;
      padding-top: 5vw;
      padding-bottom: 15px;
      padding-bottom: 4.6875vw;
      font-size: 9px;
      font-size: 2.8125vw; }
    #wrap.top .pagetop {
      height: 46px;
      bottom: 148px; }
      #wrap.top .pagetop .inner {
        padding-right: 14.5px;
        padding-right: 4.53125vw; }
        #wrap.top .pagetop .inner a {
          width: 46px;
          height: 46px; }
          #wrap.top .pagetop .inner a img {
            width: 46px; } }
