// GA 
script.
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new
  Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-50406329-1', 'auto', {'allowLinker': true});
  ga('require', 'linker');
  ga('linker:autoLink', ['kddimatomete.com','bizpages.kddi.com'] );
  ga('send', 'pageview');
// GA 
// Yahoo 
script(type='text/javascript').
  (function () {
  var tagjs = document.createElement("script");
  var s = document.getElementsByTagName("script")[0];
  tagjs.async = true;
  tagjs.src = "//s.yjtag.jp/tag.js#site=T9hIItP";
  s.parentNode.insertBefore(tagjs, s);
  }());
// Yahoo 
// Segment Pixel - RTGタグ【MASTER2】 - DO NOT MODIFY 
script(src='//i.socdm.com/s/so_sg.js?sgid=48747', type='text/javascript')
// End of Segment Pixel 
// SiteCatalyst start 
#scimage(style='visibility: hidden;z-index:2;position:absolute;top:-100px;left:-100px;')
  script(type='text/javascript', src='//www.kddi.com/common/js/s_code_kddi.js')
  script(type='text/javascript').
    //<![CDATA[
    s.pageName="";
    s.channel="";
    s.prop6="";
    s.prop7="";
    s.prop13="";
    /*custom*/
    /************* DO NOT ALTER ANYTHING BELOW THIS LINE ! **************/
    var s_code=s.t();if(s_code)document.write(s_code)
    //]]>
  script(type='text/javascript').
    //<![CDATA[
    if(navigator.appVersion.indexOf('MSIE')>=0)document.write(unescape('%3C')+'\\!-'+'-')
    //]]>
// SiteCatalyst end 
script(type='text/javascript').
  // Munchkin code add 20150811
  $.ajax({
  url: '//munchkin.marketo.net/munchkin.js',
  dataType: 'script',
  cache: true,
  success: function() {
  Munchkin.init('268-VTQ-569');
  }
  });